<!-- <p>
  jobmanagement works!
</p> -->
<div class="container-fluid">
  <div class="content-wrap">
    <div class="panel pad10">
      <p class="large strong">Job Management</p>
      <div class="row">
        <div class="col-md-3">
          <p class="strong">2 matches</p>
        </div>
        <div class="col-md-9">
          <div class="pull-right">
            <a class="dropdown-toggle" href="#filters" data-toggle="collapse" aria-expanded>
              <i class="fa fa-filter"></i>
              <span>FILTER</span>
            </a>
          </div>
        </div>
      </div>
      <div class="open in" id="filters">
        <div class="row">
          <div class="col-md-2">
            <strong>STATUS</strong>
            <ul class="list-unstyled">
              <li class="top10">
                <a class="gray" href="/employer/jobs?jobStatus=open">open</a>
              </li>
              <li class="top10">
                <a class="gray" href="/employer/jobs?jobStatus=urgent">urgent</a>
              </li>
              <li class="top10">
                <a class="gray" href="/employer/jobs?jobStatus=completed">completed</a>
              </li>
            </ul>
          </div>
          <div class="col-md-2">
            <strong>JOB TYPE</strong>
            <ul class="list-unstyled">
              <li class="top10">
                <a class="gray" href="/employer/jobs?jobType=Part-time">Part-time</a>
              </li>
              <li class="top10">
                <a class="gray" href="/employer/jobs?jobType=Full-time">Full-time</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr>
      <a href="/employer/jobs/5a685478d60e310014dab89b">
        <div class="pad10">
          <div class="row">
            <div class="col-md-2">
              <div class="strong black capitalize">Jobbunny</div>
            </div>
            <div class="col-md-3">
              <div class="strong capitalize black">Sales Executive</div>
              <span class="green"> $2000/Per Month</span>
              <p class="black">Date created: 01/24/2018</p>
            </div>
            <div class="col-md-1">
              <h6 class="gray">JOB ID</h6>
              <span class="black" style="word-wrap: break-word;">5a685478d60e310014dab89b</span>
            </div>
            <div class="col-md-2">
              <h6 class="gray">WORK START</h6>
              <p class="black">01/24/2018</p>
            </div>
            <div class="col-md-2">
              <h6 class="gray">FULFILMENT</h6>
              <span class="black">Required 1</span>
              <br>
              <span class="black">Shortlisted 0</span>
            </div>
            <div class="col-md-2">
              <strong class="pull-right badge-gray">Completed</strong>
              <br>
              <br>
              <a class="pull-right top10" href="/api/jobs/mark/5a685478d60e310014dab89b?status=open">Mark as open</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <h6 class="gray">Invited (0)</h6>
            </div>
            <div class="col-md-3">
              <h6 class="gray">Applied (0)</h6>
            </div>
            <div class="col-md-3">
              <h6 class="gray">Shortlisted (0)</h6>
            </div>
            <div class="col-md-3">
              <a class="btn btn-orange btn-block btn-warning" href="/employer/workers/invite/5a685478d60e310014dab89b">Invite more employees</a>
            </div>
          </div>
        </div>
      </a>
      <hr>
      <a href="/employer/jobs/5a76ca0afe657000143c15d3">
        <div class="pad10">
          <div class="row">
            <div class="col-md-2">
              <div class="strong black capitalize">Jobbunny</div>
            </div>
            <div class="col-md-3">
              <div class="strong capitalize black">test</div>
              <span class="green"> $8/Per Hour</span>
              <p class="black">Date created: 02/04/2018</p>
            </div>
            <div class="col-md-1">
              <h6 class="gray">JOB ID</h6>
              <span class="black" style="word-wrap: break-word;">5a76ca0afe657000143c15d3</span>
            </div>
            <div class="col-md-2">
              <h6 class="gray">WORK START</h6>
              <p class="black">02/04/2018</p>
            </div>
            <div class="col-md-2">
              <h6 class="gray">FULFILMENT</h6>
              <span class="black">Required 1</span>
              <br>
              <span class="black">Shortlisted 0</span>
            </div>
            <div class="col-md-2">
              <strong class="pull-right badge-green">Open</strong>
              <br>
              <br>
              <a class="pull-right top10" href="/api/jobs/mark/5a76ca0afe657000143c15d3?status=completed">Mark as complete</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <h6 class="gray">Invited (0)</h6>
            </div>
            <div class="col-md-3">
              <h6 class="gray">Applied (1)</h6>
            </div>
            <div class="col-md-3">
              <h6 class="gray">Shortlisted (0)</h6>
            </div>
            <div class="col-md-3">
              <a class="btn btn-orange btn-block btn-warning" href="/employer/workers/invite/5a76ca0afe657000143c15d3">Invite more employees</a>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <!-- </div>
</div>
</div>
</div> -->