<div class="content">
  <div class="clearfix"></div>
  <div class="container-fluid">
    <div class="content-wrap">
      <p class="large strong">Notifications</p>
      <div class="panel pad10">
        <a href="/employer/workers/5a5db124a17df86089392b05?notificationId=5a8fed2956c57f00144ce70a">
          <i class="fa fa-bell green"></i>
          <span> Gary Lim was invited to your job.</span>
        </a>
        <div class="pull-right">
          <span>13 days ago</span>
        </div>
      </div>
      <div class="panel pad10">
        <a href="/employer/workers/5a5db124a17df86089392b05?notificationId=5a8fed2456c57f00144ce709">
          <i class="fa fa-bell green"></i>
          <span> Gary Lim was invited to your job.</span>
        </a>
        <div class="pull-right">
          <span>13 days ago</span>
        </div>
      </div>
      <div class="panel pad10">
        <a href="/employer/workers/5a5db124a17df86089392b05?notificationId=5a8fed1756c57f00144ce708">
          <i class="fa fa-bell green"></i>
          <span> Gary Lim was invited to your job.</span>
        </a>
        <div class="pull-right">
          <span>13 days ago</span>
        </div>
      </div>
      <div class="panel pad10">
        <a href="/employer/workers/5a5db124a17df86089392b05?notificationId=5a8e96c328d07e0014c774ba">
          <i class="fa fa-bell green"></i>
          <span> Gary Lim was invited to your job.</span>
        </a>
        <div class="pull-right">
          <span>14 days ago</span>
        </div>
      </div>
      <div class="panel pad10">
        <a href="/employer/workers/5a5db124a17df86089392b05?notificationId=5a76cbf7fe657000143c15d7">
          <i class="fa fa-bell green"></i>
          <span> Gary Lim applied to your job.</span>
        </a>
        <div class="pull-right">
          <span>a month ago</span>
        </div>
      </div>
      <div class="panel pad10">
        <a href="/employer/workers/5a5db124a17df86089392b05?notificationId=5a76cab8fe657000143c15d6">
          <i class="fa fa-bell green"></i>
          <span> Gary Lim was invited to your job.</span>
        </a>
        <div class="pull-right">
          <span>a month ago</span>
        </div>
      </div>
      <div class="panel pad10">
        <a href="/employer/workers/5a5db124a17df86089392b05?notificationId=5a76ca87fe657000143c15d5">
          <i class="fa fa-bell green"></i>
          <span> Gary Lim was invited to your job.</span>
        </a>
        <div class="pull-right">
          <span>a month ago</span>
        </div>
      </div>
      <div class="panel pad10">
        <a href="/employer/workers/5a5db124a17df86089392b05?notificationId=5a76ca6dfe657000143c15d4">
          <i class="fa fa-bell green"></i>
          <span> Gary Lim applied to your job.</span>
        </a>
        <div class="pull-right">
          <span>a month ago</span>
        </div>
      </div>
    </div>
  </div>
</div>