/* Styles go here */



.heading{
    margin-top:200px;
  }
  /*----------------------------------- Navigation starts ---------------------------------------*/
  .openDrawer{
      padding:1%;
      color: #000;
      position: fixed;
      /* margin: 2%; */
      font-size: 2em;
      cursor: pointer;
      z-index: 2;
  }
  
  .navigation{
      width: 20%;
      position: fixed;
      top: 0;
      height: 100%;
      background-color: #000;
      z-index: 3;
  }
  
  .close-nav{
      float: right;
      font-size: 2em;
      margin: 3%;
      color: #fff;
      cursor: pointer;
  }
  
  .navigation ul{
      padding: 10%;
      margin-right: 10%;
      list-style-type: none;
      height: 100%;
  }
  
  .navigation li{
      height: 5%;
      width: 100%;
      margin-bottom: 10%;
      padding: 5%;
      border-bottom: solid 0.5px rgba(255, 255, 255, 0.11);
      cursor: pointer;
      color: #fff;
  }
  
  .navigation li:hover{
      border-left: solid 5px rgb(167, 167, 167);
      border-bottom: 0px;
      color: rgb(167, 167, 167);
  }
  /*----------------------------------- Navigation ends ---------------------------------------*/
  
  .overlay {
      height: 100%;
      width: 100%;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      /* background-color: rgba(0,0,0, 0.9); */
      overflow-x: hidden;
      transition: 0.5s; 
  }
  .resource-provider{
    text-align:center;
    font-weight:800;
  }
  .nav ul {
    list-style: none;
    background-color: #fff;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
  }
   
  .nav a {
    text-decoration: none;
    color: #9A9A9A;
    display: block;
    transition: .3s background-color;
  }
   
  .nav a:hover {
    background-color: #005f5f;
  }
   
  .nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
  }
   
  @media screen and (min-width: 600px) {
    .nav li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
    }
   
    /* Option 1 - Display Inline */
    .nav li {
      display: inline-block;
      margin-right: -4px;
    }
   
    /* Options 2 - Float
    .nav li {
      float: left;
    }
    .nav ul {
      overflow: auto;
      width: 600px;
      margin: 0 auto;
    }
    .nav {
      background-color: #444;
    }
    */
  }
  