<div class="row">
  <div class="banner-cover">
    <div class="container-fluid">
    </div>
  </div>
  <div class="postjob">
    <div class="container-fluid container">
      <div class="row">
        <div class="col-md-9">
          <h1>{{job['jobTitle']}}</h1>
          <p>{{job['companyName']}}</p>
          <div class="col-md-10">
            <p><i class="fa fa-map-marker"></i><span>{{job['workRegion']}}, </span><span>{{job['location']}}</span></p>
            <p><i class="fa fa-clock-o"></i><span>job['startTime'], </span><span>{{job['startTime']}}-{{job['endTime']}}, </span><span>Weekdays</span></p>
            <p><i class="fa fa-calendar"></i><span>Starts on {{job['startDate'] | date : 'MM/dd/yyyy'}}, </span><span>Ends on {{job['endDate'] | date : 'MM/dd/yyyy'}}</span></p><br>
            <h4>Job Description</h4>
            <p>{{job['description']}}</p><br>
            <h4>Duties and Responsibilities</h4>
            <p>{{job['jobRole']}}</p><br>
            <h4>Requirements</h4>
            <p>{{job['requirement']}}</p><br><br>
            <div class="col-md-1">
              <h5><i class="fa fa-lightbulb-o"></i></h5>
            </div>
            <div class="col-md-11">
              <h5>PRO-TIP</h5>
              <p>Recruiters will feel more certain when they have more information about you. Increase your chances of hire
                by being detailed in your job experience description</p>
            </div>
          </div>
          <div class="col-md-2">
            <h4 class="green-font">${{job['salary']}}/{{job['salaryType']}}</h4>
          </div>
        </div>
        <div class="col-md-3">
          <h2>{{job['companyName']}}</h2>
          <p>Posted by {{job['employerName']}}</p><br>
          <p></p>
          <h4 class="align-center">How to Apply?</h4>Talk to our jobbunny chatbot to apply directly, no account creation needed! Simply enter the
          job id below when asked in the bot.<br><br>
          <h5 class="align-center">Job ID</h5>
          <p class="align-center">{{job['_id']}}</p><a class="btn btn-block btn-blue" href="//m.me/jobbunny?ref=applyToJob" target="_blank"> Apply on Messenger</a>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>