.footer
  span © jobbunny.co | 2017
script(src='/js/jquery-3.2.1.min.js')
script(type='text/javascript', src='/js/bootstrap.js')
script(type='text/javascript', src='http://cdn.jsdelivr.net/momentjs/latest/moment.min.js')
//- Date picker
script(type='text/javascript', src='http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js')
script(type='text/javascript', src='/js/bootstrap-clockpicker.min.js')
//- Radar Chart
script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js')
//- angularJS
//- script(src='node_modules/angular/angular.js')
//- script(src='node_modules/angular-route/angular-route.js')
//- script(src='node_modules/angular-jwt/dist/angular-jwt.js')
//- script(src='angular-app/app.js')
//- script(src='angular-app/alerts/alerts-directive.js')
//- script(src='angular-app/user-register/register-controller.js')
//- script(type='text/javascript' src='angular-app/user-login/login-controller.js')
//- script(type='text/javascript' src='angular-app/auth/auth-factory.js')
//- script(type='text/javascript' src='angular-app/auth/auth-interceptor.js')
block scripts
