<div class="content">
  <div class="clearfix"></div>
  <div class="container-fluid">
    <div class="content-wrap">
      <p>
        <span class="large strong">Employer Profile</span>
      </p>
      <div class="col-md-12">
        <div class="row card pad20">
          <div class="col-md-3">
            <div class="align-center">
              <img class="img-thumbnail" height="75" width="75" [src]="'assets/img/logo.png'">
            </div>
          </div>
          <div class="col-md-9">
            <h3 class="strong capitalize">N/A</h3>
            <p class="medium strong">Email</p>
            <p>test@me.com</p>
            <p class="medium strong">Company Name</p>
            <p>N/A</p>
            <p class="medium strong">Date Joined</p>
            <p>01/05/2018</p>
            <p class="medium strong">Jobs Created</p>
            <p>0</p>
            <p class="medium strong">Invitations Sent</p>
            <p>0</p>
            <p class="medium strong">Employees Shortlisted</p>
            <p>0</p>
            <p class="medium strong">Carrots</p>
            <p>Total : 100</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>