<div class="content-wrap">
  <div class="panel pad10">
    <span class="large strong">
      <span>Invite Employees for Job : {{job['jobTitle']}}</span>
      <span> @ {{ job['workRegion']}} {{job['location']}}</span>
      <br>
    </span>
    <p>Job ID: {{jobId}}</p>
    <hr>
    <a></a>
    <div class="row pad20" *ngFor="let employee of employeesList">
      <a>
        <div class="col-md-2">
          <div class="align-center">
            <img class="img-fit img-circle" [src]="employee['profilePic']"
              height="100" width="100">
          </div>
        </div>
      </a>
      <div class="col-md-10">
        <a></a>
        <div class="row">
          <a [routerLink]="['../../employee-profile', employee['_id']]">
            <div class="col-md-3">
              <div class="strong capitalize black">{{employee['first name']}} {{employee['last name']}}</div>
              <p class="green strong" [hidden]="job['jobType'] !== 'Full-Time'">{{ employee['apllication'] && employee['apllication']['salaryMonth'] ? employee['apllication']['salaryMonth']
                : 'Not specified '}}$</p>
              <p class="green strong" [hidden]="job['jobType'] !== 'Part-Time'">{{ employee['apllication'] && employee['apllication']['salaryHour'] ? employee['apllication']['salaryHour']
                : 'Not specified '}}$</p>
              <p class="strong black">{{gender}}</p>
            </div>
            <div class="col-md-2">
              <strong class="gray">EXPERIENCE</strong>
              <p class="strong black">2 years</p>
            </div>
            <div class="col-md-3">
              <strong class="gray">LANGUAGE</strong>
              <ng-container *ngIf="(employee['profile'] && employee['profile']['languages'] && employee['profile']['languages'].length > 0); else noLanguage">
                <p class="strong black">{{employee['profile']['languages'].join(', ')}}</p>
              </ng-container>
              <ng-template #noLanguage>
                <p class="strong black">N/A</p>
              </ng-template>
            </div>
            <div class="col-md-2">
              <strong class="gray">PERSONALITY</strong>
              <ng-container *ngIf="(employee['personality'] && (employee['personality']['primary'] ||employee['personality']['secondary'])); else noPersonality">
                <p class="strong black" [hidden]="!employee['personality']['primary']">{{employee['personality']['primary']['name']}}</p>
                <p class="strong black" [hidden]="!employee['personality']['secondary']">{{employee['personality']['secondary']['name']}}</p>
              </ng-container>
              <ng-template #noPersonality>
                <p class="strong black">N/A</p>
              </ng-template>

            </div>
          </a>
          <div class="col-md-2">
            <a></a>
            <div class="align-center" *ngIf="employee['match'] && employee['match']['matchStatus']; else inviteBlock">
                <ng-container [ngSwitch]="employee['match']['matchStatus']">
                  <a *ngSwitchCase="'invited'" class="btn btn-red btn-block" (click)="changeMatchStatus('', 'delete', employee['match']['_id'])">Cancel Invite</a>
                  <a *ngSwitchCase="'applied'" class="btn btn-yellow btn-block" (click)="changeMatchStatus('', 'shortlisted', employee['match']['_id'])">Shortlist</a>
                  <a *ngSwitchCase="'shortlisted'" class="btn btn-blue btn-block">Shortlisted</a>
                  <a *ngSwitchCase="'declined'" class="btn btn-red btn-block">User Declined</a>
                </ng-container>
            </div>
            <ng-template #inviteBlock>
              <a class="btn btn-green" (click)="changeMatchStatus(employee['_id'], 'invited')">
                Invite
              </a>
              <small class="strong">use TWO carrots</small>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>