<div class="content-wrap">
  <div class="panel pad10">
    <span class="large strong">
      <span>Invite Employees for Job : sdasdasdas`</span>
      <span> @ West ahmedabad</span>
      <br>
    </span>
    <p>Job ID: 5aacc0a5dd7303001452a0b3</p>
    <hr>
    <a href="/employer/workers/5a942640a17df86089b771a2?jobId=5aacc0a5dd7303001452a0b3"></a>
    <div class="row pad20">
      <a href="/employer/workers/5a942640a17df86089b771a2?jobId=5aacc0a5dd7303001452a0b3">
        <div class="col-md-2">
          <div class="align-center">
            <img class="img-fit img-circle" src="https://scontent.xx.fbcdn.net/v/t31.0-1/p720x720/10506738_10150004552801856_220367501106153455_o.jpg?oh=664e758428fa3f1b5ff99621a150028b&amp;oe=5B05B78B"
              height="100" width="100">
          </div>
        </div>
      </a>
      <div class="col-md-10">
        <a href="/employer/workers/5a942640a17df86089b771a2?jobId=5aacc0a5dd7303001452a0b3"></a>
        <div class="row">
          <a href="/employer/workers/5a942640a17df86089b771a2?jobId=5aacc0a5dd7303001452a0b3">
            <div class="col-md-3">
              <div class="strong capitalize black">Devender Singh</div>
              <p class="green strong">undefined$</p>
              <p class="strong black">male</p>
            </div>
            <div class="col-md-2">
              <strong class="gray">EXPERIENCE</strong>
              <p class="strong black">2 years</p>
            </div>
            <div class="col-md-3">
              <strong class="gray">LANGUAGE</strong>
              <p class="strong black">English,No other languages</p>
            </div>
            <div class="col-md-2">
              <strong class="gray">PERSONALITY</strong>
              <p class="black">N/A</p>
            </div>
          </a>
          <div class="col-md-2">
            <a href="/employer/workers/5a942640a17df86089b771a2?jobId=5aacc0a5dd7303001452a0b3"></a>
            <div class="align-center">
              <a href="/employer/workers/5a942640a17df86089b771a2?jobId=5aacc0a5dd7303001452a0b3"></a>
              <a class="btn btn-yellow btn-block">Shortlisted</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>