<ng-container *ngIf="!jobId else showEmployees">
  <div class="content">
    <div class="clearfix"></div>
    <div class="container-fluid">
      <div class="content-wrap">
        <div class="panel pad10">
          <div class="row">
            <div class="col-md-5">
              <div class="large strong">Employee Management</div>
            </div>
            <div class="col-md-7">
              <form class="form-inline" action="/employer/workers" method="get">
                <input class="form-control" type="text" name="jobId" placeholder="Search by job ID">
                <button class="form-control" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </form>
            </div>
          </div>
          <p>Please enter Job Id to search</p>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #showEmployees>
  <div class="content">
    <div class="clearfix"></div>
    <div class="container-fluid">
      <div class="content-wrap">
        <div class="panel pad10">
          <div class="row">
            <div class="col-md-5">
              <div class="large strong">Employee Management</div>
            </div>
            <div class="col-md-7">
              <form class="form-inline" action="/employer/workers" method="get">
                <input class="form-control" type="text" name="jobId" placeholder="Search by job ID">
                <button class="form-control" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </form>
            </div>
          </div>
          <span class="strong">Job ID: </span>
          <span class="gray strong">5aacac4f21f485001485d98f, </span>
          <br>
          <br>
          <div class="row">
            <div class="col-md-3">
              <p class="strong">1 matches</p>
            </div>
            <div class="col-md-9">
              <div class="pull-right">
                <a class="dropdown-toggle" href="#filters" data-toggle="collapse" aria-expanded="">
                  <i class="fa fa-filter"></i>
                  <span>FILTER</span>
                </a>
              </div>
            </div>
          </div>
          <div class="collapse in" id="filters">
            <div class="row">
              <div class="col-md-2">
                <strong>STATUS</strong>
                <ul class="list-unstyled">
                  <li class="top10">
                    <a class="gray" href="/employer/workers?jobId=5aacac4f21f485001485d98f&amp;matchStatus=invited">invited</a>
                  </li>
                  <li class="top10">
                    <a class="gray" href="/employer/workers?jobId=5aacac4f21f485001485d98f&amp;matchStatus=applied">applied</a>
                  </li>
                  <li class="top10">
                    <a class="gray" href="/employer/workers?jobId=5aacac4f21f485001485d98f&amp;matchStatus=shortlisted">shortlisted</a>
                  </li>
                  <li class="top10">
                    <a class="gray" href="/employer/workers?jobId=5aacac4f21f485001485d98f&amp;matchStatus=employed">employed</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-2">
                <strong>GENDER</strong>
                <ul class="list-unstyled">
                  <li class="top10">
                    <a class="gray" href="/employer/workers?jobId=5aacac4f21f485001485d98f&amp;gender=male">male</a>
                  </li>
                  <li class="top10">
                    <a class="gray" href="/employer/workers?jobId=5aacac4f21f485001485d98f&amp;gender=female">female</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <hr>
          <a href="/employer/workers/5a942640a17df86089b771a2?jobId=5aacac4f21f485001485d98f">
            <div class="row pad20">
              <div class="col-md-2">
                <div class="align-center">
                  <img class="img-fit img-circle" src="https://scontent.xx.fbcdn.net/v/t31.0-1/p720x720/10506738_10150004552801856_220367501106153455_o.jpg?oh=664e758428fa3f1b5ff99621a150028b&amp;oe=5B05B78B"
                    height="100" width="100">
                </div>
              </div>
              <div class="col-md-10">
                <div class="row">
                  <div class="col-md-3">
                    <div class="strong capitalize black">Devender Singh</div>
                    <p class="green strong"> $undefined</p>
                    <p class="strong black">male</p>
                  </div>
                  <div class="col-md-2">
                    <strong class="gray">EXPERIENCE</strong>
                    <p class="strong black">2 years</p>
                  </div>
                  <div class="col-md-3">
                    <strong class="gray">LANGUAGE</strong>
                    <p class="strong black">English,No other languages</p>
                  </div>
                  <div class="col-md-2">
                    <strong class="gray">PERSONALITY</strong>
                    <p class="black">N/A</p>
                  </div>
                  <div class="col-md-2">
                    <div class="align-center"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="black">
                      <p>hard worker</p>
                      <i class="fa fa-2x fa-circle right10"></i>
                      <span>Invited to</span>
                      <span class="strong"> Job ID 5aacac4f21f485001485d98f : job Title</span>
                      <span> for </span>
                      <span class="strong">employer company</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</ng-template>