extends layout

block content
  // Post Job
  .container.container-fluid.contentholder
    .row
      .col-sm-3
        img(src="img/Jobbunny.png", style="padding-top:5em;height:100%;width:200px")
      |
      .col-sm-6
        p
        p
        h2 Jobbunny is proudly made in Singapore.
        br
        | We believe that not everyone is happy in their job due to the lack of proper
        | Job matching processes.
        p
          | Too many employees compete for each Job posting on job portals, eventually settling for anything they can get.
        p
          | Interviews are simply not enough for employers to see if employees are a right fit for the company.
        p
          | Eventually, this raises the level of job dissatisfaction in the country.
        p
        h3 For Employers
        | Jobbunny aims to change this by using technology to help employers find the right candidates even before the interview process.
        p
        h3 For Employees
        | We help employees automatically find suitable Jobs instead of combing Job portal sites and submitting endless resumes.
        p
        h3 See you on board! Hop Hop
