extends layout

block content
  // Post Job
  .postjob
    .container-fluid.contentholder
      .row
        .col-sm-3
          img(src="img/Jobbunny.png", style="padding-top:5em;height:100%;width:200px")
        |
        .col-sm-6
          p
          p
          h2 Jobhop.
