<div class="content">
  <div class="clearfix"></div>
  <div class="container-fluid">
    <div class="content-wrap">
      <div class="large strong">Job Overview</div>
      <p>The status of your job posts</p>
      <div class="row tile_count">
        <div class="col-md-3 col-xs-6">
          <a >
            <div class="panel dash-card-light-green">
              <h3 class="strong">{{jobCount["openJobsCount"]}}</h3>
              <span>Open Jobs</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xs-6">
          <a >
            <div class="panel dash-card-red">
              <h3 class="strong">{{jobCount["urgentJobsCount"]}}</h3>
              <span>Urgent Jobs</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xs-6">
          <a >
            <div class="panel dash-card-gray">
              <h3 class="strong">{{jobCount["completedJobsCount"]}}</h3>
              <span>Completed Jobs</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xs-6">
          <a >
            <div class="panel dash-card-orange">
              <h3 class="strong">100</h3>
              <span>Carrots Available</span>
              <br>
              <small class="strong">73 carrots in transit</small>
            </div>
          </a>
        </div>
      </div>
      <br>
      <div class="large strong">Employee Overview</div>
      <p>The status of your employee activities</p>
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <a >
            <div class="dash-card-white">
              <h3 class="strong">{{jobCount["invitedWorkersCount"]}}</h3>
              <div class="medium">Invitations</div>
              <small class="strong">sent</small>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xs-6">
          <a >
            <div class="dash-card-white">
              <h3 class="strong">{{jobCount["acceptedWorkersCount"]}}</h3>
              <div class="medium">Applications</div>
              <small class="strong">to be accepted</small>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xs-6">
          <a >
            <div class="dash-card-white">
              <h3 class="strong">{{jobCount["shortlistedWorkersCount"]}}</h3>
              <div class="medium">Shortlisted</div>
              <small class="strong">claim 5 carrots back when you update your actions</small>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xs-6">
          <a >
            <div class="dash-card-white">
              <h3 class="strong">{{jobCount["acceptedWorkersCount"]}}</h3>
              <div class="medium">Employed</div>
              <small class="strong">successfully</small>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>