.middle-container{
    background-color: #FCF7F7;
    padding:20px 0px;
    color:black;
}
.middle-container a{
    color:black;
}
.list-unstyled li.top10{
    cursor: pointer;
}
.job-item{
    background-color: #ffffff;
}
.pad10{
    cursor: pointer;
}
.clearfix{
    clear:both;
}
.active{
    padding: 9px;
    background: #ffc500;
    color: #fff;
}
.top10{
    margin-bottom: 20px; 
}
.filterType{
    margin-left:35px;
}
.dropdown-toggle{
    display : inline;
}