<div class="row">
  <div class="banner-cover">
    <div class="container-fluid">
      <div class="hero">
        <h1 class="strong"> Hop Hop do you need a job?</h1>
        <h3 class="normal">Meet the ultimate job search assistant. No signup required !</h3>
        <br>
        <br>
        <form class="form-inline" action="/search" accept-charset="UTF-8" method="post">
          <input class="form-control right10" id="search-field" type="text" size="50" name="query" placeholder="Search here" autofocus [(ngModel)]="query" >
          <input class="btn btn-md" id="search-button"  name="commit" value="Search" (click)="search()" data-disable-with="Search">
        </form>
        <img class="top20" src="../../assets/img/Jobbunny.png" style="height:250px;width:200px;">
      </div>
    </div>
  </div>
</div>