<div class="container-fluid">
  <div class="clearfix"></div>
</div>
<div class="banner-cover height50"></div>
<div class="postjob">
  <div class="container-fluid container">
    <div class="row">
      <div class="col-sm-7">
        <br>
        <div class="row">
          <div class="col-sm-3">
            <a class="btn btn-rectangle btn-block" [ngClass]="detailedJobPost ? 'btn-gray':'btn-green'" (click)="detailedJobPost = false">BASIC JOB POST</a>
          </div>
          <div class="col-sm-6">
            <a class="btn btn-rectangle btn-block" [ngClass]="!detailedJobPost ? 'btn-gray':'btn-green'" (click)="detailedJobPost = true">DETAILED JOB POST</a>
          </div>
        </div>
        <p></p>
        <h2 class="strong" *ngIf="detailedJobPost">Post detailed job !</h2>
        <div [hidden]="detailedJobPost">
          <h2 class="strong">Post your Job in 3 minutes !</h2>
          <br>Basic Job Post have less details and but are quick to fill. They are for jobs that do not need much explanations.
          3 minutes is all you need to complete. Both are free to use!
        </div>

        <br>
        <form name="postJob" #postJobForm="ngForm" class="form-horizontal">
          <h4 class="strong green-font">1. YOUR BASIC JOB DETAILS</h4>
          <br>
          <div class="form-group" *ngIf="detailedJobPost"><label class="control-label col-sm-2 small">COVER IMAGE</label>
            <div class="col-sm-10">
              <input class="form-control" type="file" (change)="readFile($event)" name="coverImage" required>
            </div>
          </div>
          <div class="form-group">
              
            <label class="control-label col-sm-2 small" [ngClass]="{'required': jobTitle.errors && (jobTitle.dirty || jobTitle.touched)}">JOB TITLE</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" [(ngModel)]="post.jobTitle" placeholder="Enter job title" name="jobTitle" #jobTitle="ngModel" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2 small" [ngClass]="{'required': requiredNumber.errors && (requiredNumber.dirty || requiredNumber.touched)}">NUMBER OF HIRES</label>
            <div class="col-sm-10">
              <input class="form-control" type="number" [(ngModel)]="post.requiredNumber" #requiredNumber="ngModel" placeholder="How many people do you need to hire ?"
                name="requiredNumber" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2 small" [ngClass]="{'required': jobType.errors && (jobType.dirty || jobType.touched)}">JOB TYPE</label>
            <div class="col-sm-10">
              <select class="form-control" name="jobType" id="job-type" [(ngModel)]='post.jobType' #jobType="ngModel" required>
                <option value="Full-time">Full-time</option>
                <option value="Part-time">Part-time</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2 small" [ngClass]="{'required': jobIndustry.errors && (jobIndustry.dirty || jobIndustry.touched)}">INDUSTRY</label>
            <span></span>
            <div class="col-sm-10">
              <select class="form-control" name="jobIndustry" id="job-industry" required [(ngModel)]='post.jobIndustry' #jobIndustry="ngModel">
                <option value="Accounting / Finance">Accounting / Finance</option>
                <option value="Admin / HR">Admin / HR</option>
                <option value="Sales / Marketing">Sales / Marketing</option>
                <option value="Arts Design Media">Arts Design Media</option>
                <option value="Computer / Technology">Computer / Technology</option>
                <option value="Training and education">Training and education</option>
                <option value="Engineering">Engineering</option>
                <option value="Service / Logistics">Service / Logistics</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2 small" [ngClass]="{'required': salaryType.errors && (salaryType.dirty || salaryType.touched)}">SALARY TYPE</label>
            <div class="col-sm-10">
              <select class="form-control" name="salaryType" required [(ngModel)]='post.salaryType' #salaryType="ngModel">
                <option value="Per Hour">Per Hour</option>
                <option value="Per Month">Per Month</option>
                <option value="Per Project">Per Project</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2 small" [ngClass]="{'required': salary.errors && (salary.dirty || salary.touched)}">SALARY</label>
            <div class="col-sm-10">
              <input class="form-control" type="number" [(ngModel)]='post.salary' #salary="ngModel" placeholder="How much are you willing to pay?" name="salary"
                required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2 small" [ngClass]="{'required': startDate.errors && (startDate.dirty || startDate.touched)}">WORKING PERIOD</label>
            <div class="col-sm-5">
              <small class="strong">START DATE</small>
              <div class="input-group datepicker">
                <input type="date" name="startDate" [(ngModel)]='post.startDate' #startDate="ngModel" id="start-date" required>
              </div>
            </div>
            <div class="col-sm-5" id="end-date-wrapper" style="display: none;">
              <small class="strong">END DATE</small>
              <div class="input-group datepicker">
                <input type="date" name="endDate" id="end-date" [(ngModel)]='post.endDate'>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2 small" [ngClass]="{'required': workPeriod.errors && (workPeriod.dirty || workPeriod.touched)}">WORKING DAYS</label>
            <div class="col-sm-10">
              <select class="form-control" name="workPeriod" required [(ngModel)]='post.workPeriod' #workPeriod="ngModel">
                  <option value="Weekends">Weekends</option>
                  <option value="Weekdays">Weekdays</option>
                <option value="Both weekdays and weekends">Both weekdays and weekends</option>
              </select>
            </div>
          </div>
          <div class="form-group" id="total-hours-wrap" style="display: none;">
            <label class="control-label col-sm-2 small" [ngClass]="{'required': totalHours.errors && (totalHours.dirty || workPeriod.touched)}">TOTAL HOURS</label>
            <div class="col-sm-10">
              <input class="form-control" type="number" [(ngModel)]='post.totalHours' #totalHours="ngModel" placeholder="How many manhours total?" id="total-hours"
                name="totalHours">
            </div>
          </div>
          <div class="form-group" id="working-hours-wrap">
            <label class="control-label col-sm-2 small strong">START TIMING</label>
            <div class="col-sm-4">
              <div class="input-group clockpicker" (click)="openstartTime()">
                <input type="text" value="{{startTime}}">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-time"></span>
                </span>
              </div>
            </div>
            <label class="control-label col-sm-2 small strong">END TIMING</label>
            <div class="col-sm-4">
              <div class="input-group clockpicker">
                <div class="input-group clockpicker" (click)="openendTime()">
                  <input type="text" value="{{endTime}}">
                  <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2 small" [ngClass]="{'required': jobExpiration.errors && (jobExpiration.dirty || jobExpiration.touched)}">EXPIRATION DATE OF JOB</label>
            <div class="col-sm-10">
              <select class="form-control" name="jobExpiration" id="job-expiration" required [(ngModel)]='post.jobExpiration' #jobExpiration="ngModel">
                <option value="start-period">At the start of working period</option>
                <option value="end-period">At the end of working period</option>
                <option value="two-months">After 2 months</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2 small" [ngClass]="{'required': location.errors && (location.dirty || location.touched)}">LOCATION OF WORK</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" [(ngModel)]='post.location' #location="ngModel" placeholder="Work location" name="location" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2 small" [ngClass]="{'required': workRegion.errors && (workRegion.dirty || workRegion.touched)}">LOCATION REGION</label>
            <div class="col-sm-10">
              <select class="form-control" name="workRegion" required [(ngModel)]='post.workRegion' #workRegion="ngModel">
                <option value="North">North</option>
                <option value="West">West</option>
                <option value="East">East</option>
                <option value="Central">Central</option>
                <option value="Central Business District">Central Business District</option>
              </select>
            </div>
          </div>
          <br>
          <h4 class="strong green-font">2. ROLES AND RESPONSIBILITIES</h4>
          <br>
          <div class="form-group">
            <label class="control-label col-sm-2 small strong" [ngClass]="{'required': description.errors && (description.dirty || description.touched)}">BACKGROUND OF JOB</label>
            <div class="col-sm-10">
              <textarea class="form-control" [(ngModel)]='post.description' #description="ngModel" rows="5" placeholder="Give a description of what your company does or a message to attract employees"
                name="description" required></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2 small strong" [ngClass]="{'required': jobRole.errors && (jobRole.dirty || jobRole.touched)}">RESPONSIBILITIES</label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="5" placeholder="What are your employees expected to do ?" name="jobRole" [(ngModel)]='post.jobRole' #jobRole="ngModel"></textarea ></div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2 small strong" [ngClass]="{'required': requirement.errors && (requirement.dirty || requirement.touched)}">REQUIREMENTS</label>
							<div class="col-sm-10"><textarea class="form-control" [(ngModel)]='post.requirement' rows="5" placeholder="What basic requirements should your employee have ?" name="requirement" #requirement="ngModel"></textarea>
            </div>
          </div>
          <br>
          <h4 class="strong green-font">3. CONTACT INFORMATION</h4>
          <br>
          <div class="form-group">
            <label class="control-label col-sm-2 small" [ngClass]="{'required': selfEmployer.errors && (selfEmployer.dirty || selfEmployer.touched)}">ARE YOU EMPLOYING FOR YOURSELF?</label>
            <div class="col-sm-10">
              <select class="form-control" name="selfEmployer" required [(ngModel)]='post.selfEmployer' #selfEmployer="ngModel">
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2 small strong" [ngClass]="{'required': companyName.errors && (companyName.dirty || companyName.touched)}">COMPANY NAME</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="companyName" required [(ngModel)]='post.companyName' #companyName="ngModel">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2 small strong" [ngClass]="{'required': companyWebsite.errors && (companyWebsite.dirty || companyWebsite.touched)}">COMPANY WEBSITE</label>
            <div class="col-sm-10">
              <input class="form-control" type="url" name="companyWebsite" [(ngModel)]='post.companyWebsite' #companyWebsite="ngModel">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2 small strong" [ngClass]="{'required': employerName.errors && (employerName.dirty || employerName.touched)}">RECRUITER NAME</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="employerName" [(ngModel)]='post.employerName' #employerName="ngModel">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2 small strong" [ngClass]="{'required': employerPhone.errors && (employerPhone.dirty || employerPhone.touched)}">RECRUITER HANDPHONE</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="employerPhone" [(ngModel)]='post.employerPhone' #employerPhone="ngModel">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2 small strong" [ngClass]="{'required': employerEmail.errors && (employerEmail.dirty || employerEmail.touched)}">RECRUITER EMAIL</label>
            <div class="col-sm-10">
              <input class="form-control" type="email" name="employerEmail" [(ngModel)]='post.employerEmail' #employerEmail="ngModel">
            </div>
          </div>
        <button class="btn-lg btn-warning pull-right" [disabled]="!postJobForm.valid" (click)="myModal.open()">Post and See Available Employees</button>
        <!-- <button class="btn-lg btn-warning pull-right"  (click)="myModal.open()">Post and See Available Employees</button> -->
      
      </form>
        <br>
        <br>
      </div>
      <div class="col-sm-4 col-sm-offset-1">
        <br>
        <h3 class="strong">Post Jobs for free</h3>
        <ul>
          <li>No credit card required to start</li>
          <li>First
            <span class="strong green-font"> 100 credits free</span>
          </li>
          <li>Post Jobs for free. use credits only when you shortlist</li>
          <li>Pay as low as
            <span class="strong green-font"> $1SGD</span>
            <span> per successful recruitment</span>
          </li>
          <li>Complete simple tasks and you can even use it totally free</li>
        </ul>
        <br>
        <h3 class="strong">Choose available employees after posting</h3>
        <p>We have employees already available in the system that you can invite immediately.</p>
        <p>Wait no time awating for employees to apply to your job. Invite them immediately.</p>
        <br>
        <h3 class="strong">Choose available employees after posting</h3>
        <p>Our Job management system is built for recruiters and HR managers alike.</p>
        <p>Whats more, it comes totally free for managing your existing Jobs in a mordern user interface.</p>
      </div>
    </div>
  </div>
</div>
 <!-- <button (click)="myModal.open()">open my modal</button> -->
<modal #myModal>
 <modal-content>
    <form (ngSubmit)="openModal(myModal)" #verify="ngForm">
      <p [hidden]="!hidePassword">
      <label>Please Enter Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="user['email']" required>
      </p>
      <p [hidden]="hidePassword">
          <label>Email:{{user['email']}}</label>
      <button class="btn btn-primary" *ngIf="showSubmit" (click)="hidePassword = !hidePassword" type="button">Change</button>  
         </p>
    
      <p *ngIf="showPassword">
      <label>Please Enter password:</label>
      <input id="password" name="password" [(ngModel)]="user['password']" type="password">
      </p>
      <p [hidden]="hideConfirmPassword">
          <label>Please Enter Confirm password:</label>
          <input id="password" name="confirm password" [(ngModel)]="user['Confirmpassword']" type="password">
          </p>
      <button class="btn btn-primary" *ngIf="next" (click)="emailVerify()" [disabled]="!verify.valid" type="button">Next</button>
      <button class="btn btn-primary" *ngIf="!hidePassword" type="submit">Submit</button>
      <button class="btn btn-primary" *ngIf="showSignup" type="button" (click)="signUp()">Signup</button>  
    </form>
  </modal-content>
  </modal>