<div class="content">
    <div class="clearfix"></div>
    <div class="container-fluid">
      <div class="content-wrap">
        <div class="panel pad10">
          <div class="row">
            <div class="col-md-5">
              <div class="large strong">Employee Management</div>
            </div>
            <div class="col-md-7">
              <form class="form-inline" action="/admin/workers" method="get">
                <input class="form-control" type="text" name="searchQuery" style="width: 300px;" placeholder="Search by employee name">
                <button class="form-control" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </form>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4">
              <p class="strong">
                <span>{{ employeeList ? employeeList.length : 0}} employees</span>
              </p>
            </div>
            <div class="col-md-8">
              <div class="pull-right">
                <a class="dropdown-toggle" href="#filters" data-toggle="collapse" aria-expanded="">
                  <i class="fa fa-filter"></i>
                  <span>FILTER</span>
                </a>
              </div>
            </div>
          </div>
          <div class="collapse in" id="filters">
            <div class="row">
              <div class="col-md-2">
                <strong>DATE JOINED</strong>
                <ul class="list-unstyled">
                  <li class="top10">
                    <a class="gray" href="/admin/workers?createdAt=earliest">earliest</a>
                  </li>
                  <li class="top10">
                    <a class="gray" href="/admin/workers?createdAt=latest">latest</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-2">
                <strong>JOB TYPE</strong>
                <ul class="list-unstyled">
                  <li class="top10">
                    <a class="gray" href="/admin/workers?jobType=Part-timer">Part-timer</a>
                  </li>
                  <li class="top10">
                    <a class="gray" href="/admin/workers?jobType=Full-timer">Full-timer</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-2">
                <strong>GENDER</strong>
                <ul class="list-unstyled">
                  <li class="top10">
                    <a class="gray" href="/admin/workers?gender=male">male</a>
                  </li>
                  <li class="top10">
                    <a class="gray" href="/admin/workers?gender=female">female</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row" *ngFor="let employee of employeeList">
            <hr>
            <a [routerLink]="['employee-details', employee['_id']]">
              <div class="row pad20">
                <div class="col-md-2">
                  <div class="align-center">
                    <img class="img-fit img-circle" [src]="employee['profilePic'] || '/assets/img/logo.png'"
                      height="100" width="100">
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="strong capitalize black">{{employee['first name'] +' '+ employee['last name']}}</div>
                      <p class="green strong"> {{employee['salaryHour'] ? '$'+employee['salaryHour'] : 'Salary not specified'}}</p>
                      <p class="strong black">{{employee['gender']}}</p>
                    </div>
                    <div class="col-md-2">
                      <strong class="gray">EXPERIENCE</strong>
                      <p class="strong black">2 years</p>
                    </div>
                    <div class="col-md-3">
                      <strong class="gray">LANGUAGE</strong>
                      <p class="strong black">{{employee['languages'] || 'N/A'}}</p>
                    </div>
                    <div class="col-md-4">
                      <strong class="gray">PERSONALITY</strong>
                      <p class="black" hidden>N/A</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>