<div class="content">
  <div class="clearfix"></div>
  <div class="content-wrap">
    <div class="panel">
      <div class="pad20" *ngIf="jobData">
        <p class="large strong capitalize">{{ jobData["jobTitle"] }}
          <span class="left20">
            <a [routerLink]="['../../job-edit']" [queryParams]="{ jobId:jobData._id }">
              <i class="fa fa-edit small gray"></i>
            </a>
            <a class="left20" (click)="deleteJobPost(jobData._id)" onclick="return confirm('delete now?');">
              <i class="fa fa-trash small gray"></i>
            </a>
          </span>
          <span class="left20">
           <a class="small gray" (click)="changeJobStatus(jobData._id,jobData.jobStatus)">Mark as {{jobData['jobStatus'] === 'completed' ? 'open':'completed' }}</a>
          </span>
        </p>
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-9">
                <i class="fa fa-map-marker"></i>
                <span>{{jobData['workRegion']}},{{jobData['location']}}</span>
                <br>
                <i class="fa fa-clock-o"></i>
                <span>{{jobData['jobType']}},{{jobData['startTime']}} - {{jobData['endTime']}},{{jobData["workPeriod"]}}</span>
                <br>
                <i class="fa fa-calendar"></i>
               <span>Starts on {{jobData['startDate'] | date}}, Ends onInvalid date</span>
                <br>
                <img class="img-fit" src="assets/img/carrot.png" height="30" widht="30">
                <span>10 carrots spent successfully</span>
              </div>
              <div class="col-md-3">
                <div class="pull-right medium green"> ${{jobData["salary"]}}/{{jobData["salaryType"]}}</div>
              </div>
            </div>
            <h4>Job Description</h4>
            <p>{{ jobData["description"] }}</p>
            <h4>Duties and Responsibilities</h4>
            <p>N/A</p>
            <h4>Requirements</h4>
            <p>Requirements</p>
            <div class="row">
              <div class="col-md-1">
                <h5>
                  <i class="fa fa-3x fa-lightbulb-o"></i>
                </h5>
              </div>
              <div class="col-md-8">
                <h5 class="strong gray">PRO-TIP</h5>
                <div>Not getting applications? you may not be highlighting the best points about working with your company. Be
                  more descriptive about pros of working in your company :)</div>
              </div>
              <div class="col-md-3">
                <h1></h1>
                <a class="btn btn-orange btn-block" [routerLink]="['../invite-employees', jobData['_id']]">Invite Employees</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 border-left">
            <div class="align-center bottom10">
              <div class="medium strong">JOBBUNNY</div>
              <br>
              <div class="pad20">
                <img class="img-circle pull-left" src="assets/img/logo.png" height="40" width="40">
                <small class="strong top10 left10 pull-left">Posted by Gary</small>
              </div>
            </div>
            <br>
            <div class="top20">
              <div class="medium strong">Job Post activity</div>
              <h6 class="gray">Invited ( 0 )</h6>
              <h6 class="gray">Applied ( 0 )</h6>
              <h6 class="gray">Shortlisted ( 0 )</h6>
            </div>
            <br>
            <div class="align-center">
              <a class="btn btn-blue btn-block" href="">Share to Group</a>
              <small class="strong">Share to groups for more results</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>