.navbar-default{
    background-color: #fff;
}
.side-bar-menu{
  width:21%;  
  background-color: #303135;
  color: #fff;
  min-height:100%
}
.dashboard td{
    vertical-align: top
}
.dashboard{
    min-height:100%;
}
.side-bar-menu .nav li>a {
    color: #FFFFFF;
    margin: 5px 15px;
    opacity: .86;
    border-radius: 4px;
}

.small-link{
    color: #1DC7EA;
}   
.nav.list-group span{
    padding-left: 10px;
}

.hover-test li a:hover{
    background-color: #626366;

}