<div class="content">
  <div class="clearfix"></div>
  <div class="container-fluid">
    <div class="content-wrap">
      <div class="panel pad10">
        <p>
          <span class="large strong">Job Management</span>
        </p>
        <h4 class="strong">{{jobs ? jobs.length : 0}} jobs</h4>
        <hr>
        <div class="jobs-container" *ngFor="let job of jobs">
          <a href="/admin/jobs/5a4f2c71a1550f001455ac48">
            <div class="pad10">
              <div class="row">
                <div class="col-md-2">
                  <h6 class="gray">COMPANY</h6>
                  <div class="strong black capitalize">{{job['companyName']}}</div>
                </div>
                <div class="col-md-3">
                  <div class="strong capitalize black">{{job['jobTitle']}}</div>
                  <span class="green"> {{job['salary'] ? '$'+job['salary']+' '+job['salaryType'] : 'salary not specified'}}</span>
                  <p class="black">Date created: {{job['createdAt'] | date}}</p>
                </div>
                <div class="col-md-1">
                  <h6 class="gray">JOB ID</h6>
                  <span class="black" style="word-wrap: break-word;">{{job['_id']}}</span>
                </div>
                <div class="col-md-2">
                  <h6 class="gray">WORK START</h6>
                  <p class="black">{{job['startDate'] | date}}</p>
                </div>
                <div class="col-md-2">
                  <h6 class="gray">FULFILMENT</h6>
                  <span class="black">Required {{job['requiredNumber']}}</span>
                  <br>
                  <span class="black">Shortlisted {{job['shortlisted']}}</span>
                </div>
                <div class="col-md-2">
                  <strong class="pull-right badge-{{job['jobStatus']==='completed' ? 'gray' : (job['jobStatus']==='urgent'?'red':'green')}}">{{job['jobStatus']}}</strong>
                  <br>
                </div>
              </div>
            </div>
          </a>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>