<div class="content">
    <div class="clearfix"></div>
    <p [hidden]="typeEdit">Last updated: {{jobData["updatedAt"] | date}}</p>
    <div class="card pad20">
        <div class="row">
            <div class="col-sm-3">
                <a class="btn btn-rectangle btn-block" [ngClass]="!detailedJobPost ? 'btn-primary':'btn-default'" (click)="detailedJobPost = false">BASIC JOB POST</a>
            </div>
            <div class="col-sm-3">
                <a  class="btn btn-rectangle btn-block" [ngClass]="detailedJobPost ? 'btn-primary':'btn-default'" (click)="detailedJobPost = true">DETAILED JOB POST</a>
            </div>
        </div>
        <br>
        <form class="form-horizontal" #postJobForm="ngForm" method="post" enctype="multipart/form-data">
            <div class="form-group" [hidden]="!detailedJobPost">
                <label class="control-label col-sm-2 small">COVER IMAGE</label>
                <div class="col-sm-10">
                    <input class="form-control" type="file" name="coverImage" required>
                </div>
            </div>
            <h4 class="strong green-font heading">1. YOUR BASIC JOB DETAILS</h4>
            <!-- <div class="form-group">
                <label class="control-label col-sm-2 small">COVER IMAGE</label>
                <div class="col-sm-10">
                    <input class="form-control" (change)="readFile($event)" type="file" name="coverImage">
                </div>
                <br>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 small">Company Photo</label>
                <div class="col-sm-10">
                    <input class="form-control" (change)="readFileCompany($event)" type="file" name="coverImage">
                </div>
                <br>
            </div> -->

            <div class="form-group">
                <label class="control-label col-sm-2 small">JOB TITLE</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" required [(ngModel)]="jobTitle" name="jobTitle" placeholder="Enter job title" value="Sales Executive"
                        required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 small">NUMBER OF HIRES</label>
                <div class="col-sm-10">
                    <input class="form-control" type="number" required [(ngModel)]="requiredNumber" placeholder="How many people do you need to hire ?"
                        name="requiredNumber" value="1" required="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 small">JOB TYPE</label>
                <div class="col-sm-10">
                    <select class="form-control" name="jobType" required [(ngModel)]='jobType' id="job-type" required="">
                        <option value="Full-time" selected="">Full-time</option>
                        <option value="Part-time">Part-time</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 small">INDUSTRY</label>
                <span></span>
                <div class="col-sm-10">
                    <select class="form-control" name="jobIndustry" required [(ngModel)]='jobIndustry' id="job-industry" required="">
                        <option value="Accounting / Finance">Accounting / Finance</option>
                        <option value="Admin / HR">Admin / HR</option>
                        <option value="Sales / Marketing" selected="">Sales / Marketing</option>
                        <option value="Arts Design Media">Arts Design Media</option>
                        <option value="Computer / Technology">Computer / Technology</option>
                        <option value="Training and education">Training and education</option>
                        <option value="Engineering">Engineering</option>
                        <option value="Service / Logistics">Service / Logistics</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 small">SALARY TYPE</label>
                <div class="col-sm-10">
                    <select class="form-control" name="salaryType" required [(ngModel)]='salaryType' required="">
                        <option value="Per Hour">Per Hour</option>
                        <option value="Per Month" selected="">Per Month</option>
                        <option value="Per Project">Per Project</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 small">SALARY</label>
                <div class="col-sm-10">
                    <input class="form-control" type="number" placeholder="How much are you willing to pay?" name="salary" required [(ngModel)]='salary'
                        value="2000" required="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 small">WORKING PERIOD</label>
                <div class="col-sm-5">
                    <small class="strong">START DATE</small>
                    <div class="input-group datepicker">
                        <input type="date" name="startDate" id="start-date" required [(ngModel)]='startDate' value="2018-01-24" required="">
                    </div>
                </div>
                <div class="col-sm-5" id="end-date-wrapper">
                    <small class="strong">END DATE</small>
                    <div class="input-group datepicker">
                        <input type="date" name="endDate" id="end-date" required [(ngModel)]='endDate'>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 small">WORKING DAYS</label>
                <div class="col-sm-10">
                    <select class="form-control" name="workPeriod" required [(ngModel)]='workPeriod' required="">
                        <option value="Weekdays">Weekdays</option>
                        <option value="Weekends">Weekends</option>
                        <option value="Both weekdays and weekends" selected="">Both weekdays and weekends</option>
                    </select>
                </div>
            </div>
            <div class="form-group" id="total-hours-wrap">
                <label class="control-label col-sm-2 small">TOTAL HOURS</label>
                <div class="col-sm-10">
                    <input class="form-control" type="number" placeholder="How many manhours total?" id="total-hours" required [(ngModel)]='totalHours'
                        name="totalHours">
                </div>
            </div>
            <div class="form-group" id="working-hours-wrap">
                <label class="control-label col-sm-2 small strong">START TIMING</label>
                <div class="col-sm-4">
                    <div class="input-group clockpicker" (click)="openstartTime()">
                        <input type="text" class="clockInput" value="{{startTime}}">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
                <label class="control-label col-sm-2 small strong">END TIMING</label>
                <div class="col-sm-4">
                    <div class="input-group clockpicker" (click)="openendTime()">
                        <input type="text" class="clockInput" value="{{endTime}}">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 small">EXPIRATION DATE OF JOB</label>
                <div class="col-sm-10">
                    <select class="form-control" name="jobExpiration" id="job-expiration" required [(ngModel)]='jobExpiration' required="">
                        <option value="At the start of working period" selected="">At the start of working period</option>
                        <option value="At the end of working period">At the end of working period</option>
                        <option value="After 2 months">After 2 months</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 small">LOCATION OF WORK</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" placeholder="Work location" name="location" required [(ngModel)]='location' value="JCUBE Mall"
                        required="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 small">LOCATION REGION</label>
                <div class="col-sm-10">
                    <select class="form-control" name="workRegion" required [(ngModel)]='workRegion' required="">
                        <option value="North">North</option>
                        <option value="West" selected="">West</option>
                        <option value="East">East</option>
                        <option value="Central">Central</option>
                        <option value="Central Business District">Central Business District</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 small strong">BACKGROUND OF JOB</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="5" placeholder="Give a description of what your company does or a message to attract employees"
                        name="description" required [(ngModel)]='description' required="">Help company to bring in achieve sales targets month on month</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 small strong">RESPONSIBILITIES</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="5" placeholder="What are your employees expected to do ?" required [(ngModel)]='jobRole' name="jobRole"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 small strong">REQUIREMENTS</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="5" placeholder="What basic requirements should your employee have ?" required [(ngModel)]='requirement'
                        name="requirement">Requirements</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 small">ARE YOU EMPLOYING FOR YOURSELF?</label>
                <div class="col-sm-10">
                    <select class="form-control" name="selfEmployer" required [(ngModel)]='selfEmployer' required="">
                        <option value="true">Yes</option>
                        <option value="false" selected="">No</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 small strong">COMPANY NAME</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="companyName" required [(ngModel)]='companyName' value="Jobbunny" required="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 small strong">COMPANY WEBSITE</label>
                <div class="col-sm-10">
                    <input class="form-control" type="url" name="companyWebsite" required [(ngModel)]='companyWebsite' value="Https://www.jobbunny.com">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 small strong">RECRUITER NAME</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="employerName" required [(ngModel)]='employerName' value="Gary">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 small strong">RECRUITER HANDPHONE</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="employerPhone"  [(ngModel)]='employerPhone' value="82330317" required>
                </div>
            </div>
            <button *ngIf="!typeEdit"  class="btn-lg btn-warning pull-right" (click)="updateJobPost()">Save updates</button>
            <button *ngIf="typeEdit"  class="btn-lg btn-warning pull-right" type="submit" [disabled]="!postJobForm.valid" (click)="saveJobPost()">Save updates</button>
            
           
        </form>
        <br>
        <br>
    </div>
</div>