<div class="content">
  <div class="clearfix"></div>
  <div class="container-fluid">
    <div class="content-wrap">
      <div class="panel pad20">
        <p>
          <strong class="large">Employee Profile</strong>
        </p>
        <div class="row">
          <div class="col-md-3">
            <div class="align-center">
              <img class="img-fit img-circle" [src]="employeeDetails['profilePic']" height="100" width="100">
              <br>
              <br>
              <div class="strong capitalize">{{employeeDetails['first name'] + ' ' + employeeDetails['last name']}}</div>
              <p class="green strong"> {{ employeeDetails['salaryHour'] ? ' $' + employeeDetails['salaryHour'] : 'Salary not specified'}}</p>
              <p class="strong">{{employeeDetails['gender']}}</p>
              <strong class="gray">EXPERIENCE</strong>
              <p class="strong">2 years</p>
              <br>
              <strong class="gray">LANGUAGE</strong>
              <p class="strong">{{employeeDetails['languages'] && employeeDetails['languages'].length > 0 ? employeeDetails['languages'].join(',')
                : 'N/A'}}</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="pad20">
              <h5 class="strong">About Me</h5>
              <p>{{employeeDetails['profile']['self_description'] || 'N/A'}}</p>
              <br>
              <h5 class="strong">Job Experience</h5>
              <span *ngIf="employeeDetails['experience']; else notExeperience">
                <ng-container *ngFor="let experience of employeeDetails['experience']">
                  <strong>{{experience['title']}} @ {{experience['company']}}</strong>
                  <p class="gray"> {{ experience['description'] }} </p>
                </ng-container>
              </span>
              <ng-template #notExeperience *ngIf="!employeeDetails['experience']">
                N/A
              </ng-template>
              <br>
              <h5 class="strong">Personality Metrics</h5>
              <ng-container *ngIf="employeeDetails['personality'];else notPersonality">
                <ng-container *ngIf="empoyeeDetails['personality']['primary'] === 'A' && empoyeeDetails['personality']['secondary'] === 'A'; else analyticalBlock">
                  <h5>Driver</h5>
                  <p>The Driver is a high achiever – a mover and shaker who is definitely not averse to risk. The individual
                    is extroverted, strong-willed, direct, practical, organised, forceful, and decisive. Look for someone
                    who tells it the way it is and is very persuasive. Watch out or you’ll be worn down and bowled over.
                    A driver is task- rather than relationship-oriented and wants immediate results.</p>
                </ng-container>
                <ng-template #analyticalBlock *ngIf="empoyeeDetails['personality']['primary'] === 'B' && empoyeeDetails['personality']['secondary'] === 'B'; else amiableBlock">
                  <h5>Analytical</h5>
                  <p>The Analytical is polite but reserved, logical, fact- and task-oriented. This person’s focus is on precision
                    and perfection. Other strengths include persistence, diligence, caution, and a systematic approach.</p>
                </ng-template>
                <ng-template #amiableBlock *ngIf="empoyeeDetails['personality']['primary'] === 'C' && empoyeeDetails['personality']['secondary'] === 'C'; else expressiveBlock">
                  <h5>Amiable</h5>
                  <p>Devoted, consistent, dependable, and loyal, the Amiable is a hard worker and will persevere long after
                    others have given up. He or she is a team player, cooperative and easy to get along with, trustful, sensitive
                    and a good listener. Working in groups with cooperative individuals, the Amiable tries to avoid confrontation.
                    He or she enjoys company, performs best in a stable environment, and often has a stabilizing effect on
                    others.</p>
                </ng-template>
                <ng-template #expressiveBlock *ngIf="empoyeeDetails['personality']['primary'] === 'D' && empoyeeDetails['personality']['secondary'] === 'D'">
                  <h5>Expressive</h5>
                  <p>The Expressive, a verbally adept personality, is engaging, accommodating, supportive of others, persuasive,
                    socially adept, and relationship- rather than task-oriented. He or she loves to be one of the gang, and
                    is always ready for something new and exciting, especially if the gang is ready to participate. Additional
                    strengths include enthusiasm, diplomatic skills, and the ability to inspire others.</p>
                </ng-template>
              </ng-container>
              <ng-template #notPersonality>
                <p>N/A</p>
              </ng-template>
            </div>
          </div>
          <div class="col-md-3">
            <div class="border-left align-center">
              <div class="pad20">
                <h6 class="gray">HANDPHONE NUMBER</h6>
                <p>111222</p>
                <h6 class="gray">EMAIL ADDRESS</h6>
                <p>batman@gotham.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>