<div class="content">
  <div class="clearfix"></div>
  <div class="container-fluid">
    <div class="content-wrap">
      <div class="panel pad10">
        <div class="row">
          <div class="col-md-5">
            <div class="large strong">Employer Management</div>
          </div>
          <div class="col-md-7">
            <form class="form-inline" action="/admin/employers/search" method="get">
              <input class="form-control" type="text" name="searchQuery" style="width: 300px;" placeholder="Search by employer name, company">
              <button class="form-control" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </form>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <p class="strong">
              <span>19 employers</span>
            </p>
          </div>
          <div class="col-md-9">
            <div class="pull-right">
              <a class="dropdown-toggle" href="#filters" data-toggle="collapse" aria-expanded="">
                <i class="fa fa-filter"></i>
                <span>FILTER</span>
              </a>
            </div>
          </div>
        </div>
        <div class="collapse in" id="filters">
          <div class="row">
            <div class="col-md-2">
              <strong>DATE CREATED</strong>
              <ul class="list-unstyled">
                <li class="top10">
                  <a class="gray" href="/admin/employers?createdAt=earliest">earliest</a>
                </li>
                <li class="top10">
                  <a class="gray" href="/admin/employers?createdAt=latest">latest</a>
                </li>
              </ul>
            </div>
            <div class="col-md-2">
              <strong>LAST ACTIVITY</strong>
              <ul class="list-unstyled">
                <li class="top10">
                  <a class="gray" href="/admin/employers?updatedAt=recent">recent</a>
                </li>
                <li class="top10">
                  <a class="gray" href="/admin/employers?updatedAt=old">old</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <hr>
        <a href="/admin/employers/5a4f8d3f1091420014b1e05a">
          <div class="pad10">
            <div class="row">
              <div class="col-md-2">
                <img class="img-circle" height="75" length="75" src="/img/logo.png">
              </div>
              <div class="col-md-2">
                <div class="strong black">test@me.com</div>
                <p class="black">Date created: 01/05/2018</p>
              </div>
              <div class="col-md-2">
                <h6 class="gray">COMPANY NAME</h6>
                <span class="black">N/A</span>
              </div>
              <div class="col-md-3">
                <h6 class="gray">FULL NAME</h6>
                <div class="strong medium black">N/A</div>
              </div>
              <div class="col-md-3">
                <h6 class="gray">CARROTS</h6>
                <span class="black">Total : 100</span>
              </div>
            </div>
          </div>
        </a>
        <hr>
        <a href="/admin/employers/5a3dc87e56494f0bbb6c175f">
          <div class="pad10">
            <div class="row">
              <div class="col-md-2">
                <img class="img-circle" height="75" length="75" src="/img/logo.png">
              </div>
              <div class="col-md-2">
                <div class="strong black">batman@gotham.com</div>
                <p class="black">Date created: 12/23/2017</p>
              </div>
              <div class="col-md-2">
                <h6 class="gray">COMPANY NAME</h6>
                <span class="black">N/A</span>
              </div>
              <div class="col-md-3">
                <h6 class="gray">FULL NAME</h6>
                <div class="strong medium black">N/A</div>
              </div>
              <div class="col-md-3">
                <h6 class="gray">CARROTS</h6>
                <span class="black">Total : 100</span>
              </div>
            </div>
          </div>
        </a>
        <hr>
        <a href="/admin/employers/5a5322ae201f3c0014a50f95">
          <div class="pad10">
            <div class="row">
              <div class="col-md-2">
                <img class="img-circle" height="75" length="75" src="https://i.imgur.com/0ifoulJ.jpg">
              </div>
              <div class="col-md-2">
                <div class="strong black">garylim@rprsnt.co</div>
                <p class="black">Date created: 01/08/2018</p>
              </div>
              <div class="col-md-2">
                <h6 class="gray">COMPANY NAME</h6>
                <span class="black">Jobbunny</span>
              </div>
              <div class="col-md-3">
                <h6 class="gray">FULL NAME</h6>
                <div class="strong medium black">Gary Lim</div>
              </div>
              <div class="col-md-3">
                <h6 class="gray">CARROTS</h6>
                <span class="black">Total : 100</span>
              </div>
            </div>
          </div>
        </a>
        <hr>
        <a href="/admin/employers/5a7add7b316c690014e9b674">
          <div class="pad10">
            <div class="row">
              <div class="col-md-2">
                <img class="img-circle" height="75" length="75" src="/img/logo.png">
              </div>
              <div class="col-md-2">
                <div class="strong black">garynlim@rprsnt.co</div>
                <p class="black">Date created: 02/07/2018</p>
              </div>
              <div class="col-md-2">
                <h6 class="gray">COMPANY NAME</h6>
                <span class="black">N/A</span>
              </div>
              <div class="col-md-3">
                <h6 class="gray">FULL NAME</h6>
                <div class="strong medium black">N/A</div>
              </div>
              <div class="col-md-3">
                <h6 class="gray">CARROTS</h6>
                <span class="black">Total : 100</span>
              </div>
            </div>
          </div>
        </a>
        <hr>
        <a href="/admin/employers/5a7cebab0311d40014121a3c">
          <div class="pad10">
            <div class="row">
              <div class="col-md-2">
                <img class="img-circle" height="75" length="75" src="/img/logo.png">
              </div>
              <div class="col-md-2">
                <div class="strong black">lolo@lolo.com</div>
                <p class="black">Date created: 02/09/2018</p>
              </div>
              <div class="col-md-2">
                <h6 class="gray">COMPANY NAME</h6>
                <span class="black">N/A</span>
              </div>
              <div class="col-md-3">
                <h6 class="gray">FULL NAME</h6>
                <div class="strong medium black">N/A</div>
              </div>
              <div class="col-md-3">
                <h6 class="gray">CARROTS</h6>
                <span class="black">Total : 100</span>
              </div>
            </div>
          </div>
        </a>
        <hr>
        <a href="/admin/employers/5a7aa59177ed2f00144c76db">
          <div class="pad10">
            <div class="row">
              <div class="col-md-2">
                <img class="img-circle" height="75" length="75" src="https://i.imgur.com/aG8vqK1.png">
              </div>
              <div class="col-md-2">
                <div class="strong black">akanksha.jawalekar@gmail.com</div>
                <p class="black">Date created: 02/07/2018</p>
              </div>
              <div class="col-md-2">
                <h6 class="gray">COMPANY NAME</h6>
                <span class="black">jsuauyuiwe</span>
              </div>
              <div class="col-md-3">
                <h6 class="gray">FULL NAME</h6>
                <div class="strong medium black">akas kakkaka</div>
              </div>
              <div class="col-md-3">
                <h6 class="gray">CARROTS</h6>
                <span class="black">Total : 100</span>
              </div>
            </div>
          </div>
        </a>
        <hr>
        <a href="/admin/employers/5a7d5ad9ba4baa00144ca044">
          <div class="pad10">
            <div class="row">
              <div class="col-md-2">
                <img class="img-circle" height="75" length="75" src="/img/logo.png">
              </div>
              <div class="col-md-2">
                <div class="strong black">varshaingle303@gmail.com</div>
                <p class="black">Date created: 02/09/2018</p>
              </div>
              <div class="col-md-2">
                <h6 class="gray">COMPANY NAME</h6>
                <span class="black">N/A</span>
              </div>
              <div class="col-md-3">
                <h6 class="gray">FULL NAME</h6>
                <div class="strong medium black">N/A</div>
              </div>
              <div class="col-md-3">
                <h6 class="gray">CARROTS</h6>
                <span class="black">Total : 100</span>
              </div>
            </div>
          </div>
        </a>
        <hr>
        <a href="/admin/employers/5a8e836f28d07e0014c774b9">
          <div class="pad10">
            <div class="row">
              <div class="col-md-2">
                <img class="img-circle" height="75" length="75" src="/img/logo.png">
              </div>
              <div class="col-md-2">
                <div class="strong black">skyjur+1@gmail.com</div>
                <p class="black">Date created: 02/22/2018</p>
              </div>
              <div class="col-md-2">
                <h6 class="gray">COMPANY NAME</h6>
                <span class="black">N/A</span>
              </div>
              <div class="col-md-3">
                <h6 class="gray">FULL NAME</h6>
                <div class="strong medium black">N/A</div>
              </div>
              <div class="col-md-3">
                <h6 class="gray">CARROTS</h6>
                <span class="black">Total : 100</span>
              </div>
            </div>
          </div>
        </a>
        <hr>
        <a href="/admin/employers/5a90f3872e7f740014382e3e">
          <div class="pad10">
            <div class="row">
              <div class="col-md-2">
                <img class="img-circle" height="75" length="75" src="https://i.imgur.com/RHKJeGe.jpg">
              </div>
              <div class="col-md-2">
                <div class="strong black">kuldeepsingh0196@gmail.com</div>
                <p class="black">Date created: 02/24/2018</p>
              </div>
              <div class="col-md-2">
                <h6 class="gray">COMPANY NAME</h6>
                <span class="black">N/A</span>
              </div>
              <div class="col-md-3">
                <h6 class="gray">FULL NAME</h6>
                <div class="strong medium black">N/A</div>
              </div>
              <div class="col-md-3">
                <h6 class="gray">CARROTS</h6>
                <span class="black">Total : 100</span>
              </div>
            </div>
          </div>
        </a>
        <hr>
        <a href="/admin/employers/5a946e489e350139c5217fb6">
          <div class="pad10">
            <div class="row">
              <div class="col-md-2">
                <img class="img-circle" height="75" length="75" src="/img/logo.png">
              </div>
              <div class="col-md-2">
                <div class="strong black">test1@gmail.com</div>
                <p class="black">Date created: 02/26/2018</p>
              </div>
              <div class="col-md-2">
                <h6 class="gray">COMPANY NAME</h6>
                <span class="black">N/A</span>
              </div>
              <div class="col-md-3">
                <h6 class="gray">FULL NAME</h6>
                <div class="strong medium black">N/A</div>
              </div>
              <div class="col-md-3">
                <h6 class="gray">CARROTS</h6>
                <span class="black">Total : 100</span>
              </div>
            </div>
          </div>
        </a>
        <hr>
        <a href="/admin/employers/5a947406949d993f74a823d6">
          <div class="pad10">
            <div class="row">
              <div class="col-md-2">
                <img class="img-circle" height="75" length="75" src="/img/logo.png">
              </div>
              <div class="col-md-2">
                <div class="strong black">test21@gmail.com</div>
                <p class="black">Date created: 02/26/2018</p>
              </div>
              <div class="col-md-2">
                <h6 class="gray">COMPANY NAME</h6>
                <span class="black">N/A</span>
              </div>
              <div class="col-md-3">
                <h6 class="gray">FULL NAME</h6>
                <div class="strong medium black">N/A</div>
              </div>
              <div class="col-md-3">
                <h6 class="gray">CARROTS</h6>
                <span class="black">Total : 100</span>
              </div>
            </div>
          </div>
        </a>
        <hr>
        <a href="/admin/employers/5a96f45f8df0fc62f34a9b2f">
          <div class="pad10">
            <div class="row">
              <div class="col-md-2">
                <img class="img-circle" height="75" length="75" src="/img/logo.png">
              </div>
              <div class="col-md-2">
                <div class="strong black">kuldeep@mail.com</div>
                <p class="black">Date created: 02/28/2018</p>
              </div>
              <div class="col-md-2">
                <h6 class="gray">COMPANY NAME</h6>
                <span class="black">N/A</span>
              </div>
              <div class="col-md-3">
                <h6 class="gray">FULL NAME</h6>
                <div class="strong medium black">N/A</div>
              </div>
              <div class="col-md-3">
                <h6 class="gray">CARROTS</h6>
                <span class="black">Total : 100</span>
              </div>
            </div>
          </div>
        </a>
        <hr>
        <a href="/admin/employers/5a9af87776e40c2948cdaf56">
          <div class="pad10">
            <div class="row">
              <div class="col-md-2">
                <img class="img-circle" height="75" length="75" src="/img/logo.png">
              </div>
              <div class="col-md-2">
                <div class="strong black">test1123@gmail.com</div>
                <p class="black">Date created: 03/03/2018</p>
              </div>
              <div class="col-md-2">
                <h6 class="gray">COMPANY NAME</h6>
                <span class="black">N/A</span>
              </div>
              <div class="col-md-3">
                <h6 class="gray">FULL NAME</h6>
                <div class="strong medium black">N/A</div>
              </div>
              <div class="col-md-3">
                <h6 class="gray">CARROTS</h6>
                <span class="black">Total : 100</span>
              </div>
            </div>
          </div>
        </a>
        <hr>
        <a href="/admin/employers/5a9af8ab0ad5c22975817e1e">
          <div class="pad10">
            <div class="row">
              <div class="col-md-2">
                <img class="img-circle" height="75" length="75" src="/img/logo.png">
              </div>
              <div class="col-md-2">
                <div class="strong black">test11234@gmail.com</div>
                <p class="black">Date created: 03/03/2018</p>
              </div>
              <div class="col-md-2">
                <h6 class="gray">COMPANY NAME</h6>
                <span class="black">N/A</span>
              </div>
              <div class="col-md-3">
                <h6 class="gray">FULL NAME</h6>
                <div class="strong medium black">N/A</div>
              </div>
              <div class="col-md-3">
                <h6 class="gray">CARROTS</h6>
                <span class="black">Total : 100</span>
              </div>
            </div>
          </div>
        </a>
        <hr>
        <a href="/admin/employers/5a9af97ea5788a2a6bdcfa8b">
          <div class="pad10">
            <div class="row">
              <div class="col-md-2">
                <img class="img-circle" height="75" length="75" src="/img/logo.png">
              </div>
              <div class="col-md-2">
                <div class="strong black">test11235@gmail.com</div>
                <p class="black">Date created: 03/03/2018</p>
              </div>
              <div class="col-md-2">
                <h6 class="gray">COMPANY NAME</h6>
                <span class="black">N/A</span>
              </div>
              <div class="col-md-3">
                <h6 class="gray">FULL NAME</h6>
                <div class="strong medium black">N/A</div>
              </div>
              <div class="col-md-3">
                <h6 class="gray">CARROTS</h6>
                <span class="black">Total : 100</span>
              </div>
            </div>
          </div>
        </a>
        <hr>
        <a href="/admin/employers/5a9af9e8a5788a2a6bdcfa8c">
          <div class="pad10">
            <div class="row">
              <div class="col-md-2">
                <img class="img-circle" height="75" length="75" src="/img/logo.png">
              </div>
              <div class="col-md-2">
                <div class="strong black">test11236@gmail.com</div>
                <p class="black">Date created: 03/03/2018</p>
              </div>
              <div class="col-md-2">
                <h6 class="gray">COMPANY NAME</h6>
                <span class="black">N/A</span>
              </div>
              <div class="col-md-3">
                <h6 class="gray">FULL NAME</h6>
                <div class="strong medium black">N/A</div>
              </div>
              <div class="col-md-3">
                <h6 class="gray">CARROTS</h6>
                <span class="black">Total : 100</span>
              </div>
            </div>
          </div>
        </a>
        <hr>
        <a href="/admin/employers/5a9afa23a5788a2a6bdcfa8d">
          <div class="pad10">
            <div class="row">
              <div class="col-md-2">
                <img class="img-circle" height="75" length="75" src="/img/logo.png">
              </div>
              <div class="col-md-2">
                <div class="strong black">test11237@gmail.com</div>
                <p class="black">Date created: 03/03/2018</p>
              </div>
              <div class="col-md-2">
                <h6 class="gray">COMPANY NAME</h6>
                <span class="black">N/A</span>
              </div>
              <div class="col-md-3">
                <h6 class="gray">FULL NAME</h6>
                <div class="strong medium black">N/A</div>
              </div>
              <div class="col-md-3">
                <h6 class="gray">CARROTS</h6>
                <span class="black">Total : 100</span>
              </div>
            </div>
          </div>
        </a>
        <hr>
        <a href="/admin/employers/5a9afac4a5788a2a6bdcfa8e">
          <div class="pad10">
            <div class="row">
              <div class="col-md-2">
                <img class="img-circle" height="75" length="75" src="/img/logo.png">
              </div>
              <div class="col-md-2">
                <div class="strong black">test11238@gmail.com</div>
                <p class="black">Date created: 03/03/2018</p>
              </div>
              <div class="col-md-2">
                <h6 class="gray">COMPANY NAME</h6>
                <span class="black">N/A</span>
              </div>
              <div class="col-md-3">
                <h6 class="gray">FULL NAME</h6>
                <div class="strong medium black">N/A</div>
              </div>
              <div class="col-md-3">
                <h6 class="gray">CARROTS</h6>
                <span class="black">Total : 100</span>
              </div>
            </div>
          </div>
        </a>
        <hr>
        <a href="/admin/employers/5a9afbc3a50ea82c7f85f77b">
          <div class="pad10">
            <div class="row">
              <div class="col-md-2">
                <img class="img-circle" height="75" length="75" src="/img/logo.png">
              </div>
              <div class="col-md-2">
                <div class="strong black">test11239@gmail.com</div>
                <p class="black">Date created: 03/03/2018</p>
              </div>
              <div class="col-md-2">
                <h6 class="gray">COMPANY NAME</h6>
                <span class="black">N/A</span>
              </div>
              <div class="col-md-3">
                <h6 class="gray">FULL NAME</h6>
                <div class="strong medium black">N/A</div>
              </div>
              <div class="col-md-3">
                <h6 class="gray">CARROTS</h6>
                <span class="black">Total : 100</span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>