<div class="content">
  <div class="clearfix"></div>
  <div class="container-fluid">
    <div class="content-wrap">
      <div class="panel pad10">
        <div class="row">
          <div class="col-md-5">
            <div class="large strong">Employer Management</div>
          </div>
          <div class="col-md-7">
            <form class="form-inline" action="/admin/employers/search" method="get">
              <input class="form-control" type="text" name="searchQuery" style="width: 300px;" placeholder="Search by employer name, company">
              <button class="form-control" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </form>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <p class="strong">
              <span>{{employerList ? employerList.length : 0}} employers</span>
            </p>
          </div>
          <div class="col-md-9">
            <div class="pull-right">
              <a class="dropdown-toggle" href="#filters" data-toggle="collapse" aria-expanded="">
                <i class="fa fa-filter"></i>
                <span>FILTER</span>
              </a>
            </div>
          </div>
        </div>
        <div class="collapse in" id="filters">
          <div class="row">
            <div class="col-md-2">
              <strong>DATE CREATED</strong>
              <ul class="list-unstyled">
                <li class="top10">
                  <a class="gray" href="/admin/employers?createdAt=earliest">earliest</a>
                </li>
                <li class="top10">
                  <a class="gray" href="/admin/employers?createdAt=latest">latest</a>
                </li>
              </ul>
            </div>
            <div class="col-md-2">
              <strong>LAST ACTIVITY</strong>
              <ul class="list-unstyled">
                <li class="top10">
                  <a class="gray" href="/admin/employers?updatedAt=recent">recent</a>
                </li>
                <li class="top10">
                  <a class="gray" href="/admin/employers?updatedAt=old">old</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div *ngFor="let employer of employerList">
        <a [routerLink]="['../employer-details', employer['_id'] ]" >
          <div class="pad10">
            <div class="row">
              <div class="col-md-2">
                <img class="img-circle" height="75" width="75" [src]="employer['profilePic'] || '/assets/img/logo.png'">
              </div>
              <div class="col-md-2">
                <div class="strong black">{{employer['email']}}</div>
                <p class="black">Date created:<br/> {{employer['createdAt'] | date}}</p>
              </div>
              <div class="col-md-2">
                <h6 class="gray">COMPANY NAME</h6>
                <span class="black">{{employer['companyName'] ? employer['companyName'] : 'N/A'}}</span>
              </div>
              <div class="col-md-3">
                <h6 class="gray">FULL NAME</h6>
                <div class="strong medium black">{{(employer['firstName'] || employer['lastName']) ? ((employer['firstName'] ? employer['firstName'] : '') + (employer['lastName'] ? ' ' + employer['lastName'] : '')) : 'N/A'}}</div>
              </div>
              <div class="col-md-3">
                <h6 class="gray">CARROTS</h6>
                <span class="black">Total : {{ employer['carrots']['total']}}</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      </div>
    </div>
  </div>
</div>