<div class="content">
  <div class="clearfix"></div>
  <div class="container-fluid">
    <div class="content-wrap">
      <p>
        <span class="large strong">Employer Profile</span>
      </p>
      <div [hidden]="!hideEmployerDetail">
        Loading...
      </div>
      <div class="col-md-12" [hidden]="hideEmployerDetail">
        <div class="row card pad20">
          <div class="col-md-3">
            <div class="align-center">
              <img class="img-thumbnail" height="75" length="75" [src]="employerDetail['profilePic'] || 'assets/img/logo.png'">
            </div>
          </div>
          <div class="col-md-9">
            <h3 class="strong capitalize">N/A</h3>
            <p class="medium strong">Email</p>
            <p>{{employerDetail['email']}}</p>
            <p class="medium strong">Company Name</p>
            <p>{{employerDetail['companyName'] ? employerDetail['companyName'] : 'N/A'}}</p>
            <p class="medium strong">Date Joined</p>
            <p>{{employerDetail['createdAt'] | date}}</p>
            <p class="medium strong">Jobs Created</p>
            <p>{{counts['jobsCount']}}</p>
            <p class="medium strong">Invitations Sent</p>
            <p>{{ counts['invitationsCount']}}</p>
            <p class="medium strong">Employees Shortlisted</p>
            <p>{{ counts['shortlistedCount']}}</p>
            <p class="medium strong">Carrots</p>
            <p>Total : {{employerDetail['carrots']['total']}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>