<div class="content">
  <div class="clearfix"></div>
  <div class="container-fluid">
    <div class="content-wrap">
      <div class="panel pad20">
        <p>
          <strong class="large">Employee Profile</strong>
        </p>
        <div class="row">
          <div class="col-md-3">
            <div class="align-center">
              <img class="img-fit img-circle" [src]="employee['profilePic']" height="100" width="100">
              <br>
              <br>
              <div class="strong capitalize">{{employee['first name']}} {{employee['last name']}}</div>
              <p class="green strong"> ${{worker['salaryHour']}}</p>
              <p class="strong">{{employee['gender']}}</p>
              <strong class="gray">EXPERIENCE</strong>
              <p class="strong">2 years</p>
              <br>
              <strong class="gray">LANGUAGE</strong>
              <p class="strong">{{employee['languages'] ? employee['languages'].join(', ') : 'N/A'}}</p>
              <br>
              <strong class="gray">SAVINGS</strong>
              <p>You save $10 when you hire {{employee['first name']}} {{employee['last name']}} with his expected salary.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="pad20">
              <h5 class="strong">About Me</h5>
              <p>{{employee['profile']['self_description'] || 'N/A'}}</p>
              <br>
              <h5 class="strong">Job Experience</h5>
              <ng-container *ngIf="employee['experience'];else notExeperience">
                <ng-container *ngFor="let experience of employee['experience']">
                  <strong>{{experience['title']}} @ {{experience['company']}}</strong>
                  <p class="gray"> {{ experience['description'] }} </p>
                </ng-container>
              </ng-container>
              <ng-template #notExeperience>
                N/A
              </ng-template>
              <br>
              <h5 class="strong">Personality Metrics</h5>
              <ng-container [ngSwitch]="employee['personality'] && (['primary'] || employee['personality']['secondary'])">
                <ng-container *ngSwitchCase="'A'">
                  <h5>Driver</h5>
                  <p>The Driver is a high achiever – a mover and shaker who is definitely not averse to risk. The individual
                    is extroverted, strong-willed, direct, practical, organised, forceful, and decisive. Look for someone
                    who tells it the way it is and is very persuasive. Watch out or you’ll be worn down and bowled over.
                    A driver is task- rather than relationship-oriented and wants immediate results.</p>
                </ng-container>
                <ng-container *ngSwitchCase="'B'">
                  <h5>Analytical</h5>
                  <p>The Analytical is polite but reserved, logical, fact- and task-oriented. This person’s focus is on precision
                    and perfection. Other strengths include persistence, diligence, caution, and a systematic approach.</p>
                </ng-container>
                <ng-container *ngSwitchCase="'C'">
                  <h5>Amiable</h5>
                  <p>Devoted, consistent, dependable, and loyal, the Amiable is a hard worker and will persevere long after
                    others have given up. He or she is a team player, cooperative and easy to get along with, trustful, sensitive
                    and a good listener. Working in groups with cooperative individuals, the Amiable tries to avoid confrontation.
                    He or she enjoys company, performs best in a stable environment, and often has a stabilizing effect on
                    others.
                  </p>
                </ng-container>
                <ng-container *ngSwitchCase="'D'">
                  <h5>Expressive</h5>
                  <p>The Expressive, a verbally adept personality, is engaging, accommodating, supportive of others, persuasive,
                    socially adept, and relationship- rather than task-oriented. He or she loves to be one of the gang, and
                    is always ready for something new and exciting, especially if the gang is ready to participate. Additional
                    strengths include enthusiasm, diplomatic skills, and the ability to inspire others.</p>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  <p>N/A</p>
                </ng-container>
              </ng-container>
            </div>
          </div>
          <div class="col-md-3">
            <div class="border-left align-center">
              <i class="fa fa-3x fa-lock"></i>
              <p class="medium strong">Contact Information</p>
              <div class="pad20">
                <h6 class="gray">HANDPHONE NUMBER</h6>
                <p>Locked</p>
                <h6 class="gray">EMAIL ADDRESS</h6>
                <p>Locked</p>
                <br>
                <p class="strong">How to unlock?</p>
                <p class="gray">Gary Lim's contact will only be unlocked when he accepts your invitation</p>
                <p class="gray">Only 1 carrot will be deducted for each invite</p>
                <p class="gray">Remaining carrots will be deducted when Gary accepts your invite</p>
                <p class="strong">Invite Gary with</p>
              </div>
              <div class="pad20">
                <p class="badge-green">Applied</p>
                <a class="btn btn-yellow btn-block" href="/api/matches/update/5a76ca6da17df86089e47c0c?matchStatus=shortlisted">Shortlist</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <h5>
              <i class="fa fa-3x fa-lightbulb-o"></i>
            </h5>
          </div>
          <div class="col-md-11">
            <h5 class="strong gray">PRO-TIP</h5>
            <div>Employees are also uncertain about Jobs as employers.</div>
            <div>Upload a profile picture and company logo to increase your credibility</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>