<div class="content">
  <div class="clearfix"></div>
  <div class="container-fluid">
    <div class="content-wrap">
      <div class="large strong">User Traction</div>
      <br>
      <div class="row">
        <div class="col-md-9">
          <a href="/admin/jobs">
            <div class="panel pad20 btn-block">
              <p class="gray">Graph</p>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
            <div class="row">
              <div class="col-md-3">
                <i class="fa fa-circle light-green"></i>
                <span class="black small">Employee Sign up</span>
              </div>
              <div class="col-md-3">
                <i class="fa fa-circle yellow"></i>
                <span class="black small">Employer Sign up</span>
              </div>
              <div class="col-md-2">
                <i class="fa fa-circle orange"></i>
                <span class="black small">Jobs posted</span>
              </div>
              <div class="col-md-2">
                <i class="fa fa-circle green"></i>
                <span class="black small">Job Application</span>
              </div>
              <div class="col-md-2">
                <i class="fa fa-circle red"></i>
                <span class="black small">Shortlisted</span>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3">
          <div class="panel pad20">
            <p class="strong gray">TODAY</p>
            <div class="row">
              <div class="col-md-2">
                <p class="strong">{{dashboardInfo['totalCounts']['totalWorkersCount']}}</p>
                <p class="strong">{{dashboardInfo['totalCounts']['totalEmployersCount']}}</p>
              </div>
              <div class="col-md-10">
                <p class="strong">EMPLOYEES</p>
                <p class="strong">EMPLOYERS</p>
              </div>
            </div>
            <p class="strong gray">THIS WEEK</p>
            <div class="row">
              <div class="col-md-2">
                <p class="strong">{{dashboardInfo['totalCounts']['totalWorkersCount']}}</p>
                <p class="strong">{{dashboardInfo['totalCounts']['totalEmployersCount']}}</p>
              </div>
              <div class="col-md-10">
                <p class="strong">EMPLOYEES</p>
                <p class="strong">EMPLOYERS</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="large strong">Overall Conversation Funnels</div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <p class="strong">EMPLOYERS</p>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="row">
            <div class="col-md-7">
              <div class="panel dash-card-yellow align-center">
                <h3 class="strong">{{dashboardInfo['totalCounts']['totalEmployersCount']}}</h3>
                <span>Employers</span>
              </div>
            </div>
            <div class="col-md-5">
              <p class="align-center large gray">180%</p>
              <strong class="small">CONVERSION</strong>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="row">
            <div class="col-md-7">
              <div class="panel dash-card-dark-yellow align-center">
                <h3 class="strong">{{dashboardInfo['totalCounts']['totalJobsCount']}}</h3>
                <span>Jobs Posted</span>
              </div>
            </div>
            <div class="col-md-5">
              <p class="align-center large gray">180%</p>
              <strong class="small">CONVERSION</strong>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-7">
              <div class="panel dash-card-brown align-center">
                <h3 class="strong">{{dashboardInfo['matchesStats']['invited']}}</h3>
                <span>Invitations Sent</span>
              </div>
            </div>
            <div class="col-md-5">
              <p class="align-center large gray">180%</p>
              <strong class="small">CONVERSION</strong>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-7">
              <div class="panel dash-card-red align-center">
                <h3 class="strong">{{dashboardInfo['matchesStats']['accepted']}}</h3>
                <span>Accepted Invitations</span>
              </div>
            </div>
            <div class="col-md-5">
              <p class="align-center large gray">180%</p>
              <strong class="small">CONVERSION</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="strong">EMPLOYEES</p>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="row">
            <div class="col-md-7">
              <div class="panel dash-card-green align-center">
                <h3 class="strong">{{dashboardInfo['totalCounts']['totalWorkersCount']}}</h3>
                <span>Employees</span>
              </div>
            </div>
            <div class="col-md-5">
              <p class="align-center large gray">180%</p>
              <strong class="small">CONVERSION</strong>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="row">
            <div class="col-md-7">
              <div class="panel dash-card-dark-green align-center">
                <h3 class="strong">{{dashboardInfo['totalCounts']['totalMatchesCount']}}</h3>
                <span>Jobs Applications</span>
              </div>
            </div>
            <div class="col-md-5">
              <p class="align-center large gray">180%</p>
              <strong class="small">CONVERSION</strong>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-7">
              <div class="panel dash-card-purple align-center">
                <h3 class="strong">{{dashboardInfo['matchesStats']['accepted']}}</h3>
                <span>Accepted Applications</span>
              </div>
            </div>
            <div class="col-md-5">
              <p class="align-center large gray">180%</p>
              <strong class="small">CONVERSION</strong>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-7">
              <div class="panel dash-card-light-red align-center">
                <h3 class="strong">{{dashboardInfo['matchesStats']['shortlisted']}}</h3>
                <span>Shortlisted</span>
              </div>
            </div>
            <div class="col-md-5">
              <p class="align-center large gray">180%</p>
              <strong class="small">CONVERSION</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>