<div class="content">
  <div class="clearfix"></div>
  <div class="container-fluid">
    <div class="content-wrap">
      <div class="align-center">
        <img class="left20" height="60" length="60" src="assets/img/carrot.png">
        <h2>Farm Carrots</h2>
        <p>You can farm carrots by helping Job bunnies complete simple tasks to make</p>
        <p>hiring great again</p>
      </div>
      <br>

      <div class="row">
        <div *ngIf="!sendGiftForm" class="col-md-6">
          <div class="panel pad20 align-center">
            <i class="fa fa-3x fa-gift"></i>
            <div class="large strong">Send a gift</div>
            <br>
            <br>
            <p class="strong">Do you have partner companies that you are in business with?</p>
            <br>
            <p>Let us send them 10 carrots complimentary on us and you will get 10 carrots in return.</p>
            <br>
            <p>Everybody wins</p>
            <br>
            <button class="btn btn-orange" (click)="sendGift();">Send Gift</button>
          </div>
        </div>


        <div *ngIf="sendGiftForm" class="col-md-6">
          <div class="panel pad20 align-center">
            <i class="fa fa-3x fa-gift"></i>
            <div class="large strong">Email Address</div>
            <br>
            <br>
            <!-- <p class="strong">Do you have partner companies that you are in business with?</p> -->
            <br>
            <!-- <p>Let us send them 10 carrots complimentary on us and you will get 10 carrots in return.</p> -->
          <input class="form-control" [(ngModel)]="email" type="email">
            <br>
            <!-- <p>Everybody wins</p> -->
            <br>
            <button class="btn btn-orange" (click)="inviteSubmit();">Submit</button>
          </div>
        </div>


        <div class="col-md-6">
          <div class="panel pad20 align-center">
            <i class="fa fa-3x fa-star"></i>
            <div class="large strong">Review employees</div>
            <p class="muted">( only for shortlisted employees )</p>
            <br>
            <p class="strong">Have an employee that you would like to commend or blacklist?</p>
            <br>
            <p>For each commend, neutral or blacklist, you get 0.5 carrots in return.</p>
            <br>
            <p>Help us make hiring more transparent for all recruiters alike!</p>
            <br>
            <button class="btn btn-orange">Review Employees</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>