<div class="container container-fluid contentholder">
  <div class="row">
    <div class="col-sm-3"><img src="../../assets/img/Jobbunny.png" style="padding-top:5em;height:100%;width:200px;"></div>
    <div class="col-sm-6">
      <p></p>
      <p></p>
      <h2>Jobbunny is proudly made in Singapore.</h2>
      <br>We believe that not everyone is happy in their job due to the lack of proper Job matching processes.
      <p>Too many employees compete for each Job posting on job portals, eventually settling for anything they can get.</p>
      <p>Interviews are simply not enough for employers to see if employees are a right fit for the company.</p>
      <p>Eventually, this raises the level of job dissatisfaction in the country.</p>
      <p></p>
      <h3>For Employers</h3>Jobbunny aims to change this by using technology to help employers find the right candidates even
      before the interview process.
      <p></p>
      <h3>For Employees</h3>We help employees automatically find suitable Jobs instead of combing Job portal sites and submitting
      endless resumes.
      <p></p>
      <h3>See you on board! Hop Hop</h3>
    </div>
  </div>
</div>