<div class="content" [hidden]="!jobListing">
  <div class="clearfix"></div>
  <div class="container-fluid">
    <div class="content-wrap">
      <div class="panel pad10">
        <p class="large strong">Job Management</p>
        <div class="filter">
          <span></span>
        </div>
        <div class="row">
          <div class="col-md-3">
            <p class="strong">{{jobs ? jobs.length : 0}} matches </p>
          </div>
          <div class="col-md-9">
            <div class="pull-right">
              <a class="dropdown-toggle" data-toggle="collapse" aria-expanded="">
                <i class="fa fa-filter"></i>
                <span>FILTER</span>
              </a>
            </div>
          </div>
        </div>
        <div class="open in" id="filters">
          <div class="row">
            <div class="col-md-2">
              <strong>STATUS</strong>
              <ul class="list-unstyled">
                <li class="top10" [ngClass]="{'active': filter['jobStatus'] && filter['jobStatus'] === 'open'}" (click)="toggleFilter('jobStatus','open')">
                  <a class="gray">open</a>
                </li>
                <li class="top10" [ngClass]="{'active': filter['jobStatus'] && filter['jobStatus'] === 'urgent'}" (click)="toggleFilter('jobStatus','urgent')">
                  <a class="gray">urgent</a>
                </li>
                <li class="top10" [ngClass]="{'active': filter['jobStatus'] && filter['jobStatus'] === 'completed'}" (click)="toggleFilter('jobStatus','completed')">
                  <a class="gray">completed</a>
                </li>
              </ul>
            </div>
            <div class="col-md-2 clearfix filterType">
              <strong>JOB TYPE</strong>
              <ul class="list-unstyled">
                <li class="top10" [ngClass]="{'active': filter['jobType'] && filter['jobType'] === 'Part-time'}" (click)="toggleFilter('jobType','Part-time')">
                  <a class="gray">Part-time</a>
                </li>
                <li class="top10" [ngClass]="{'active': filter['jobType'] && filter['jobType'] === 'Full-time'}" (click)="toggleFilter('jobType','Full-time')">
                  <a class="gray">Full-time</a>
                </li>
              </ul>
            </div>
            <div class="col-md-2" [hidden]="!filter['jobType']">
              <strong>INDUSTRY</strong>
              <ul class="list-unstyled" [hidden]="filter['jobType'] !== 'Part-time'">
                <li class="top10" [ngClass]="{'active': filter['jobIndustry'] && filter['jobIndustry'] === 'Events'}" (click)="toggleFilter('jobIndustry','Events')">
                  <a class="gray">Events</a>
                </li>
                <li class="top10" [ngClass]="{'active': filter['jobIndustry'] && filter['jobIndustry'] === 'Sales'}" (click)="toggleFilter('jobIndustry','Sales')">
                  <a class="gray">Sales</a>
                </li>
                <li class="top10" [ngClass]="{'active': filter['jobIndustry'] && filter['jobIndustry'] === 'Data Entry'}" (click)="toggleFilter('jobIndustry','Data Entry')">
                  <a class="gray">Data Entry</a>
                </li>
                <li class="top10" [ngClass]="{'active': filter['jobIndustry'] && filter['jobIndustry'] === 'Food & Beverage'}" (click)="toggleFilter('jobIndustry','Food & Beverage')">
                  <a class="gray">Food & Beverage</a>
                </li>
                <li class="top10" [ngClass]="{'active': filter['jobIndustry'] && filter['jobIndustry'] === 'Logistics'}" (click)="toggleFilter('jobIndustry','Logistics')">
                  <a class="gray">Logistics</a>
                </li>
                <li class="top10" [ngClass]="{'active': filter['jobIndustry'] && filter['jobIndustry'] === 'Retail'}" (click)="toggleFilter('jobIndustry','Retail')">
                  <a class="gray">Retail</a>
                </li>
              </ul>
              <ul class="list-unstyled" [hidden]="filter['jobType'] !== 'Full-time'">
                <li class="top10" [ngClass]="{'active': filter['jobIndustry'] && filter['jobIndustry'] === 'Accounting / Finance'}" (click)="toggleFilter('jobIndustry','Accounting / Finance')">
                  <a class="gray">Accounting / Finance</a>
                </li>
                <li class="top10" [ngClass]="{'active': filter['jobIndustry'] && filter['jobIndustry'] === 'Admin / HR'}" (click)="toggleFilter('jobIndustry','Admin / HR')">
                  <a class="gray">Admin / HR</a>
                </li>
                <li class="top10" [ngClass]="{'active': filter['jobIndustry'] && filter['jobIndustry'] === 'Sales / Marketing'}" (click)="toggleFilter('jobIndustry','Sales / Marketing')">
                  <a class="gray">Sales / Marketing</a>
                </li>
                <li class="top10" [ngClass]="{'active': filter['jobIndustry'] && filter['jobIndustry'] === 'Arts Design Media'}" (click)="toggleFilter('jobIndustry','Arts Design Media')">
                  <a class="gray">Arts Design Media</a>
                </li>
                <li class="top10" [ngClass]="{'active': filter['jobIndustry'] && filter['jobIndustry'] === 'Computer/Technology'}" (click)="toggleFilter('jobIndustry','Computer/Technology')">
                  <a class="gray">Computer/Technology</a>
                </li>
                <li class="top10" [ngClass]="{'active': filter['jobIndustry'] && filter['jobIndustry'] === 'Training & education'}" (click)="toggleFilter('jobIndustry','Training & education')">
                  <a class="gray">Training & education</a>
                </li>
                <li class="top10" [ngClass]="{'active': filter['jobIndustry'] && filter['jobIndustry'] === 'Engineering'}" (click)="toggleFilter('jobIndustry','Engineering')">
                  <a class="gray">Engineering</a>
                </li>
                <li class="top10" [ngClass]="{'active': filter['jobIndustry'] && filter['jobIndustry'] === 'Service / Logistics'}" (click)="toggleFilter('jobIndustry','Service / Logistics')">
                  <a class="gray">Service / Logistics</a>
                </li>
              </ul>
            </div>
            <div class="col-md-2">
              <strong>Date</strong>
              <ul class="list-unstyled">
                <li class="top10" [ngClass]="{'active': sort['createdAt'] && sort['createdAt'] === 'latest'}" (click)="toggleSort('createdAt', 'latest')">
                  <a class="gray">latest</a>
                </li>
                <li class="top10" [ngClass]="{'active': sort['createdAt'] && sort['createdAt'] === 'earliest'}" (click)="toggleSort('createdAt', 'earliest')">
                  <a class="gray">earliest</a>
                </li>
              </ul>
            </div>
            <div class="col-md-2">
              <strong>Carrots</strong>
              <ul class="list-unstyled">
                <li class="top10" [ngClass]="{'active': sort[''] && sort['Date'] === 'latest'}" (click)="toggleSort('Date','latest')">
                  <a class="gray">most spent</a>
                </li>
                <li class="top10" [ngClass]="{'active': sort['Date'] && sort['Date'] === 'earliest'}" (click)="toggleSort('Date','earliest')">
                  <a class="gray">least spent</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <a></a>
        <div class="pad10">
          <a></a>
          <div *ngFor="let job of jobs;">
            <hr>
            <div class="row">
                 <!-- (click)="rowSelect(job)" -->
                 
              <a [routerLink]="['./']" [queryParams]="{ id:job._id }">
                <div class="col-md-2">
                  <div class="strong black capitalize">{{job['companyName']}}</div>
                </div>
                <div class="col-md-3">
                  <div class="strong capitalize black">{{job['jobTitle']}}</div>
                  <span class="green"> ${{job['salary']}} {{job['salaryType']}}</span>
                  <p class="black">Date created: {{job['createdAt'] | date}}</p>
                </div>
                <div class="col-md-1">
                  <h6 class="gray">JOB ID</h6>
                  <span class="black" style="word-wrap: break-word;">{{job['_id']}}</span>
                </div>
                <div class="col-md-2">
                  <h6 class="gray">WORK START</h6>
                  <p class="black">{{job['startDate'] | date}}</p>
                </div>
                <div class="col-md-2">
                  <h6 class="gray">FULFILMENT</h6>
                  <span class="black">Required {{job['requiredNumber']}}</span>
                  <br>
                  <span class="black">Shortlisted {{job['shortlisted'] ? job['shortlisted'].length : 0}}</span>
                </div>
              </a>
              <div class="col-md-2">
                <a>
                  <strong class="pull-right badge-green" [hidden]="job['jobStatus'] === 'urgent' || job['jobStatus'] === 'completed'">Open</strong>
                  <strong class="pull-right badge-gray" [hidden]="job['jobStatus'] !== 'completed'">Completed</strong>
                  <strong class="pull-right badge-red" [hidden]="job['jobStatus'] !== 'urgent'">Urgent</strong>
                  <br>
                  <br>
                </a>
                <a class="pull-right top10">Mark as {{job['jobStatus'] === 'open' ? 'completed' : 'open' }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <h6 class="gray">Invited ({{job && job['invited'] ? job['invited'].length : 0 }})</h6>
                <span *ngFor="let invited of job['invited']; let i = index" [attr.data-index]="i">
                  <img *ngIf="i < 3" [src]="invited['worker']['profilePic']||'assets/img/logo.png'" height="30" width="30" title="{{applied['worker']['first name']}}" class="img-circle">
                </span>
              </div>
              <div class="col-md-3">
                <h6 class="gray">Applied ({{ job && job['applied'] ? job['applied'].length : 0}})</h6>
                <span *ngFor="let applied of job['applied']; let i = index" [attr.data-index]="i">
                  <img *ngIf="i < 3" [src]="applied['worker']['profilePic']||'assets/img/logo.png'" height="30" width="30" title="{{applied['worker']['first name']}}" class="img-circle">
                </span>
              </div>
              <div class="col-md-3">
                <h6 class="gray">Shortlisted ({{job && job['shortlisted'] ? job['shortlisted'].length : 0}})</h6>
                <span *ngFor="let shortlisted of job['shortlisted']; let i = index" [attr.data-index]="i">
                  <img *ngIf="i < 3" [src]="shortlisted['worker']['profilePic']||'assets/img/logo.png'" height="30" width="30" title="{{shortlisted['worker']['first name']}}" class="img-circle">
                </span>
              </div>
              <div class="col-md-3">
                <a class="btn btn-orange btn-block btn-warning" [routerLink]="['../invite-employees', job['_id']]">Invite more employees</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content" [hidden]="!viewJob">
  <div class="clearfix"></div>
  <div class="content-wrap">
    <div class="panel">
      <div class="pad20">
        <p class="large strong capitalize">{{ jobData["jobTitle"] }}
          <span class="left20">
            <a [routerLink]="['../job-details']" [queryParams]="{ id:jobData._id }">
              <i class="fa fa-edit small gray"></i>
            </a>
            <a class="left20" (click)="deleteJobPost(jobData._id)" onclick="return confirm('delete now?');">
              <i class="fa fa-trash small gray"></i>
            </a>
          </span>
          <span class="left20">
           <a class="small gray" (click)="changeJobStatus(jobData._id,jobData.jobStatus)">Mark as {{jobData['jobStatus'] === 'completed' ? 'open':'completed' }}</a>
          </span>
        </p>
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-9">
                <i class="fa fa-map-marker"></i>
                <span>{{jobData['workRegion']}},{{jobData['location']}}</span>
                <br>
                <i class="fa fa-clock-o"></i>
                <span>{{jobData['jobType']}},{{jobData['startTime']}} - {{jobData['endTime']}},{{jobData["workPeriod"]}}</span>
                <br>
                <i class="fa fa-calendar"></i>
               <span>Starts on {{jobData['startDate'] | date}}, Ends onInvalid date</span>
                <br>
                <img class="img-fit" src="assets/img/carrot.png" height="30" widht="30">
                <span>10 carrots spent successfully</span>
              </div>
              <div class="col-md-3">
                <div class="pull-right medium green"> ${{jobData["salary"]}}/{{jobData["salaryType"]}}</div>
              </div>
            </div>
            <h4>Job Description</h4>
            <p>{{ jobData["description"] }}</p>
            <h4>Duties and Responsibilities</h4>
            <p>N/A</p>
            <h4>Requirements</h4>
            <p>Requirements</p>
            <div class="row">
              <div class="col-md-1">
                <h5>
                  <i class="fa fa-3x fa-lightbulb-o"></i>
                </h5>
              </div>
              <div class="col-md-8">
                <h5 class="strong gray">PRO-TIP</h5>
                <div>Not getting applications? you may not be highlighting the best points about working with your company. Be
                  more descriptive about pros of working in your company :)</div>
              </div>
              <div class="col-md-3">
                <h1></h1>
                <a class="btn btn-orange btn-block" href="/employer/workers/invite/5a685478d60e310014dab89b">Invite Employees</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 border-left">
            <div class="align-center bottom10">
              <div class="medium strong">JOBBUNNY</div>
              <br>
              <div class="pad20">
                <img class="img-circle pull-left" src="assets/img/logo.png" height="40" width="40">
                <small class="strong top10 left10 pull-left">Posted by Gary</small>
              </div>
            </div>
            <br>
            <div class="top20">
              <div class="medium strong">Job Post activity</div>
              <h6 class="gray">Invited ( 0 )</h6>
              <h6 class="gray">Applied ( 0 )</h6>
              <h6 class="gray">Shortlisted ( 0 )</h6>
            </div>
            <br>
            <div class="align-center">
              <a class="btn btn-blue btn-block" href="">Share to Group</a>
              <small class="strong">Share to groups for more results</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
