extends ../cmsLayout

//- content
block content
  p= 'Last updated: ' + job.updatedAt
  .card.pad20
    //- basic job form template
    include ../shared/_editJobForm.pug

block scripts
  script(type='text/javascript', src='/js/jobForm.js')
