extends ../cmsLayout

//- content
block content
  .container-fluid
    .content-wrap
      .align-center
        img.left20(height='60' length='60' src='/img/carrot.png')
        h2 Farm Carrots
        p You can farm carrots by helping Job bunnies complete simple tasks to make
        p hiring great again
      br
      .row
        .col-md-6
          .panel.pad20.align-center
            i.fa.fa-3x.fa-gift
            .large.strong Send a gift
            br
            br
            p.strong Do you have partner companies that you  are in business with?
            br
            p Let us send them 10 carrots complimentary  on us and you will get 10 carrots in return.
            br
            p Everybody wins
            br
            button.btn.btn-orange Send Gift

        .col-md-6
          .panel.pad20.align-center
            i.fa.fa-3x.fa-star
            .large.strong Review employees
            p.muted ( only for shortlisted employees )
            br
            p.strong Have an employee that you would like   to commend or blacklist?
            br
            p For each commend, neutral or blacklist, you get 0.5 carrots in return.
            br
            p Help us make hiring more transparent for  all recruiters alike!
            br
            button.btn.btn-orange Review Employees
